[2016-09-27 22:07] JulianNorton opened #2 "Geolocation via IP is putting people in <state>, <state>"
Ideally it should be the closest city? Where is it even returning weather for locations like this?

![mfj73x9](https://cloud.githubusercontent.com/assets/2412992/18893752/248ba24a-84dd-11e6-9b3c-c81937cb73e5.png)

[2016-09-27 22:19] JulianNorton opened #3 "Resolve UK users wanting C° for temp and mph for wind"
* Leave it as part of the URL input for now?

* Maybe all UK locations can by default render C and mph.

* Add link to toggle in user interface?

[2016-09-27 22:51] Shou commented on #3
Using geolocation on the server-side would be ideal for keeping the pagesize small. Maybe a cookie toggle could be done as a preference too?

[2016-09-27 22:53] lasseborly opened #4 "24 hour option"
Now that we have the option for Celsius and m/s what about the option for 24 hour times like we have here in cold and windy Denmark?
I would be more than willing to submit my own PR but I would not start working on it if it weren't a feature you guys wanted.

Report back and I'll whip out an 24 hours implementation if wanted!

[2016-09-27 23:25] JulianNorton commented on #4
This would impact a larger feature set we should consider. It could encompass other user preferences like km/h or mph with C°. We need to think about the best approach that accommodates all use cases cleanly with a reasonably design. I'd hold off on a specific implementation until we can discuss more.

A query string that sets a cookie, that doesn't stay in the URL may be cleanest? Would love to h

[2016-09-28 02:44] JulianNorton commented on #3
![](https://github.trello.services/images/mini-trello-icon.png) [celsius AND mph](https://trello.com/c/ZmNU4Cjl/135-celsius-and-mph)

[2016-09-28 05:01] Lakston commented on #3
If you make it a default for the UK, you would have to make it a default for all the other countries using C and kph. Only 3 countries in the world use mph and 5 use F so a default kph / C would benefit more people :)

A toggle for both speed and temp would be easier I think since everyone can choose what suits them.

[2016-09-28 05:02] JulianNorton opened #5 "Resolve SVG icon too small for firefox 47.0.1"
![screen shot 2016-09-28 at 1 01 52 am](https://cloud.githubusercontent.com/assets/2412992/18901230/33f8c552-8517-11e6-8b10-40aaf325bc39.png)

![screen shot 2016-09-28 at 1 02 23 am](https://cloud.githubusercontent.com/assets/2412992/18901234/3c4752aa-8517-11e6-9019-c4bf14d996c3.png)

[2016-09-28 05:03] JulianNorton opened #6 "resolve favicon changing in android"
Android, if pinned to home screen, should be a static icon so as to not mislead users that the weather icon is updated. It only updates if they open it currently.

[2016-09-28 05:07] JulianNorton commented on #6
add manifest file and android icons to public/images/default folder

[2016-09-28 05:13] JulianNorton commented on #5
What is that, an SVG for ants?!

[2016-09-28 14:41] JulianNorton opened #8 "Updated time and the forecast times are sometimes inconsistent"
@modelm

[2016-09-28 14:45] JulianNorton commented on #2
resolved

[2016-09-28 14:45] #2 closed

[2016-09-28 15:30] JulianNorton opened #9 "Favicon is downloading twice"
Why is this favicon being downloaded twice?

![9awbss4](https://cloud.githubusercontent.com/assets/2412992/18920235/c317e07c-856e-11e6-8749-fd05b4650e18.png)

[2016-09-28 15:31] JulianNorton commented on #9
Perhaps just remove 16x16 favicon support?
`<link rel="icon" type="image/png" href="/images/partly-cloudy-day/favicon-16x16.png?v=partly-cloudy-day" sizes="16x16">`

[2016-09-28 18:22] JulianNorton opened #11 "Cannot read property 'statusCode' of undefined Request._callback"
Type TypeError
Value
Cannot read property 'statusCode' of undefined
Module dark-sky
Location node_modules/dark-sky/dark-sky-api.js, Request._callback:70
Occurred (UTC) 2016-09-28T18:05:25.120000+00:00
#### node_modules/dark-sky/dark-sky-api.js in Request._callback

[code]
#### node_modules/request/request.js in self.callback

[code]
#### events.js in emitOne at line 90
#### events.js in emit at li

[2016-09-28 20:46] JulianNorton commented on #3
<img width="1116" alt="screen shot 2016-09-28 at 4 38 13 pm" src="https://cloud.githubusercontent.com/assets/2412992/18931410/0e17b996-859a-11e6-9dde-84f04ba3f5e6.png">
<img width="359" alt="screen shot 2016-09-28 at 4 39 19 pm" src="https://cloud.githubusercontent.com/assets/2412992/18931424/1e86aab2-859a-11e6-9bae-d4ca517b4b3f.png">
<img width="1035" alt="screen shot 2016-09-28 at 4 45 50 pm" sr

[2016-09-28 21:37] JulianNorton opened #12 "if within 6 hours of midnight, show tomorrow instead of "today" card?"

[2016-09-28 21:37] JulianNorton commented on #12
![0](https://cloud.githubusercontent.com/assets/2412992/18933321/402c0cae-85a2-11e6-8e49-e3430b527146.png)

[2016-09-28 21:38] JulianNorton opened #13 "Sparklines for precipitation"
- What would performance hit be?
- Maybe it can be client side lazy loaded if JS is enabled?

https://www.npmjs.com/package/clui

[2016-09-28 21:39] JulianNorton opened #14 "Implement https"
- https://blog.heroku.com/ssl-is-now-included-on-all-paid-dynos
- What would the performance impact be? How much time would SSL add?
- What benefit, if any, would there be to users?

[2016-09-28 22:00] JulianNorton opened #15 "safari input looks like crap"
![screen shot 2016-09-28 at 5 50 21 pm](https://cloud.githubusercontent.com/assets/2412992/18933884/d1bbf4ac-85a4-11e6-9075-4bcf8278043f.png)

https://css-tricks.com/webkit-html5-search-inputs/

`-webkit-appearance: button;` seems like a feasible and dubious solution

[2016-09-28 22:22] JulianNorton commented on #15
<img width="640" alt="screen shot 2016-09-28 at 6 21 49 pm" src="https://cloud.githubusercontent.com/assets/2412992/18934574/6f299692-85a8-11e6-8746-b833eb17ff45.png">

I've edited it, but it's still not clearing correctly on small sizes.

[2016-09-28 23:02] lasseborly commented on #4
Hmm yeah I can see how it does affect a lot of other areas.

I think the cookie approach might be a clean, fast and easy way of doing it.

As far as a solution for a general implementation that encompases all of the user pref. I have a hard time wrapping my head around by only having looked at the code for 15 min or so.

I'll try and get some time in on it this weekend and bring a proposal at that

[2016-09-28 23:07] lasseborly commented on #3
Yahoo weather does the switch at the temperature itself. Just to the right of it.
<img width="1423" alt="screen shot 2016-09-29 at 01 06 25" src="https://cloud.githubusercontent.com/assets/2671660/18935540/026ce96c-85e1-11e6-80f5-46ee98450229.png">

[2016-09-28 23:12] lasseborly commented on #14
To answer none of your questions :) one other benefit of having the project on https would be the added rating with Google in regards to SEO.

An added user base is I guess is kinda a benefit to the other users as well since then the demand for the platform improving is greater.

Just my 2 cents on the matter.

[2016-09-29 03:50] josephfusco commented on #5
SVG's are quirky across browsers if you don't have _both_ height and width set. I see there is only width specified within the style attribute. I would suggest something like

[code]

[2016-09-29 17:56] aarongustafson opened #21 "web.config"
We need a web.config file. You can grab the template here: https://a-k-apart.com/webconfigs/web.config.node.txt

[2016-09-29 18:57] JulianNorton commented on #21
Hi @aarongustafson !

I've added the config here:
- https://github.com/JulianNorton/weather-10kb/commit/d70db5e3150b8c117a0d35025aef445cc3312e40

However with the file added, it crashes the application on heroku (http://wxkb.io)
- https://github.com/JulianNorton/weather-10kb/commit/d70db5e3150b8c117a0d35025aef445cc3312e40 **crashes**

When I [roll back to the previous commit](https://github.com/Ju

[2016-09-29 19:35] JulianNorton opened #22 "nothing is working and it's being investigated"

[2016-09-29 19:46] JulianNorton commented on #22
pushed resolution

[2016-09-29 19:46] #22 closed

[2016-09-29 19:49] JulianNorton commented on #21
@aarongustafson https://github.com/JulianNorton/weather-10kb/tree/master should be good to test on azure

[2016-09-29 22:16] aarongustafson commented on #21
Deployed and the homepage works: https://wxkb-io-a-super-fast-weat-10kapart2016.azurewebsites.net/ Search does not: https://wxkb-io-a-super-fast-weat-10kapart2016.azurewebsites.net/Chattanooga,%20TN

[2016-09-29 22:32] JulianNorton commented on #21
![screen shot 2016-09-29 at 6 31 57 pm](https://cloud.githubusercontent.com/assets/2412992/18974726/081f6df2-8673-11e6-9940-36f429df5d83.png)
![screen shot 2016-09-29 at 6 31 54 pm](https://cloud.githubusercontent.com/assets/2412992/18974725/081f49ee-8673-11e6-823c-73d97621d8cd.png)
![screen shot 2016-09-29 at 6 31 48 pm](https://cloud.githubusercontent.com/assets/2412992/18974727/081f9a8e-8673-11

[2016-09-29 22:37] JulianNorton commented on #21
Here are the errors I'm getting from Opbeat

### Error: Can't set headers after they are sent

`OutgoingMessage.setHeader (_http_outgoing.js)
http://wxkb-io-a-super-fast-weat-10kapart2016.azurewebsites.net/?location=10025`

`"Unable to fetch forecast data."`

**Can you confirm** that the `FORECAST_IO_API_KEY` is being used NOT darksky? (beginning with `73…`) and it's the most recent version on Mas

[2016-09-30 11:30] modelm commented on #11
submitted upstream pr https://github.com/eliash91/dark-sky/pull/4 and using local fork for now: https://github.com/JulianNorton/weather-10kb/commit/1af377fc737ec3caaaaffa7957402e1fc6f236e0

(btw 200 is a success code. the response is undefined and i'm not sure what the code is, but it sure isn't 200)

[2016-09-30 11:36] modelm commented on #21
That error means the forecast.io response was undefined, per this patch: https://github.com/JulianNorton/weather-10kb/commit/1af377fc737ec3caaaaffa7957402e1fc6f236e0#diff-4a08f720bdff763cc3b5b2412f77cccbR67

It does not matter if DARK_SKY_API_KEY is defined or not, it's not used though. FORECAST_IO_API_KEY must be defined and valid.

I get "Script Error: null \nAPI Response: 400 :: Bad Request" on

[2016-09-30 15:05] JulianNorton opened #24 "font-variant: small-caps; for am/pm"
https://css-tricks.com/almanac/properties/f/font-variant/

[2016-09-30 15:36] aarongustafson commented on #21
Truncated (for security) these are the API keys I have:

<img width="220" alt="screen shot 2016-09-30 at 11 35 26 am" src="https://cloud.githubusercontent.com/assets/75736/18997370/0c98f59e-8702-11e6-9f44-789112c36041.png">

[2016-09-30 15:37] JulianNorton commented on #21
@aarongustafson , I messed up when I submitted. the `DARK_SKY_API_KEY`  should be `FORECAST_IO_API_KEY` with the same values. Should I resubmit, or are you able to change it?

[2016-09-30 15:38] aarongustafson commented on #21
Changing now.

[2016-09-30 15:42] JulianNorton commented on #21
https://wxkb-io-a-super-fast-weat-10kapart2016.azurewebsites.net/new%20york,%20ny is working for me :)

[2016-09-30 15:44] JulianNorton commented on #21
Still getting a "likely throttled" error on start, but I guess it's better than before?

[2016-09-30 16:22] aarongustafson commented on #21
Yeah. What’s that notification about?

[2016-09-30 17:12] JulianNorton commented on #21
I honestly have no idea, @modelm is out of town until Sunday, perhaps he can look into it then. I've never gotten this on Heroku or localhost.

[2016-10-01 13:15] JulianNorton opened #26 "Optimize SVGs"

[2016-10-01 13:19] #26 closed

[2016-10-01 14:13] Niharika29 opened #27 "Install problem (macOS Sierra)"
Hi, I am trying to setup the app locally. I have a dark sky API key and I'm using development branch. Here's the trace I get:
[code]

[2016-10-01 14:24] Niharika29 commented on #27
Never mind. My bad, I'd run `npm install` on production branch.

[2016-10-01 14:24] #27 closed

[2016-10-01 15:52] jotasprout commented on #24
Do you just need this added to your CSS file?

[2016-10-01 22:01] ryanwr commented on #12
Working on this, what about instead of within 6 hours, showing the tomorrow card if it is after sunset?

[2016-10-01 22:10] JulianNorton commented on #12
Sunset is an unpredictable metric, for example in Alaska sometimes sunset is after 11pm or 4pm depending on the season!

[2016-10-01 22:32] ryanwr commented on #12
Ah yeah okay, I've set it to 6 hours before midnight, I'll open a PR

[2016-10-02 16:32] gyanl opened #34 "iconography.sketch is blank"
I was trying to fix #5 but the sketch file is blank.
<img width="779" alt="screen shot 2016-10-02 at 10 00 58 pm" src="https://cloud.githubusercontent.com/assets/9626697/19022013/c8d07292-88eb-11e6-99a2-a0eba8eba1fb.png">

[2016-10-02 16:36] ryanwr commented on #5
This looks fine in Firefox 49.0.1 on Windows 10

![wxkbio_firefox](https://cloud.githubusercontent.com/assets/9446239/19022040/b531caf8-88c6-11e6-95be-9b651b93da5c.png)

[2016-10-02 16:40] iamdharmveer commented on #9
Hello this issue is still open or closed because you didn't mention that .

[2016-10-02 16:42] gyanl commented on #5
Changing width=1em to height=1em in the svg code seems to fix it for Firefox on OSX, but I can see the tiny svg without this change.

[2016-10-02 16:43] JulianNorton commented on #9
I'm on mobile for a few more hours, I'll confirm and address all the
comments soon!

On Sun, Oct 2, 2016, 12:40 PM Dharmveer Sharma notifications@github.com
wrote:

[2016-10-02 16:49] ryanwr commented on #5
Hah, this is weird, changing width to height breaks it on mine.

Here's three screenshots showing width, height and both. Only width seems to work.

![wxkbio_firefox_bug](https://cloud.githubusercontent.com/assets/9446239/19022125/7d3651d0-88c8-11e6-8ae6-c1279f9b7243.png)
![wxkbio_firefox_bug2](https://cloud.githubusercontent.com/assets/9446239/19022126/7f6b6e90-88c8-11e6-8d0f-3747cbe25331.png)
![

[2016-10-02 16:54] gyanl commented on #5
@ryanwr What happens if you remove the style tag entirely? Starts working ok in mine.

[2016-10-02 16:57] ryanwr commented on #5
@gyanl Removing it makes it bigger in Firefox, but there's no change in size on Chrome

![wxkbio_firefox_bug4](https://cloud.githubusercontent.com/assets/9446239/19022176/a606ef9c-88c9-11e6-95ee-87f4aa899aeb.png)

Sorry for all the screenshots :)

[2016-10-02 17:02] gyanl commented on #5
@ryanwr Do you think removing the style tag is a viable solution for the issue then? I'm not sure why it was there in the first place, haven't worked enough with svg files.

[2016-10-02 17:09] ryanwr commented on #5
I don't think removing width and height solves the problem as the larger icon is out of line with the text, it pushes the divider further down. I think the small size might actually be the "correct" size for 1em. Maybe simply adding a larger width/height e.g. "width: 3em; height: 3em;" and specifying both width and height as @josephfusco mentioned to avoid weird bugs.

[2016-10-02 18:14] makoscafee commented on #6
can I claim this issue?

[2016-10-02 18:17] ryanwr opened #35 "Text input appearance not consistent in Firefox"
The search button is slightly too large and the border appears different on the bottom and top & left sides

![wxkbio_firefox_search](https://cloud.githubusercontent.com/assets/9446239/19022631/542a70c6-88d4-11e6-9c5a-9b50700c149d.png)

[2016-10-02 18:25] JulianNorton commented on #6
Go for it!

On Sun, Oct 2, 2016, 2:14 PM Barnabas Makonda notifications@github.com
wrote:

[2016-10-02 19:59] makoscafee commented on #6
Fix PR is #36

[2016-10-02 20:37] JulianNorton commented on #34
Thanks for pointing that out, I'll delete the empty file now.  The svg files used will are in `/public/images/`

[2016-10-02 20:39] JulianNorton commented on #34
https://github.com/JulianNorton/weather-10kb/commit/bbfbae70e7c3050d3a09c02646ac8f0a32f1060c deletes the empty file

[2016-10-02 20:39] #34 closed

[2016-10-02 20:57] JulianNorton commented on #24
More than just the CSS, in the summary hourly list too.

[2016-10-02 21:04] JulianNorton commented on #24
![screen shot 2016-10-02 at 5 04 19 pm](https://cloud.githubusercontent.com/assets/2412992/19023687/47057038-88c2-11e6-8706-eb761c09b3e0.png)

[2016-10-02 21:04] JulianNorton commented on #24
`.small-caps {
    font-variant: small-caps;
}`

Has been added by @blanyal

[2016-10-02 21:24] BratCat commented on #35
I would like to tackle this one if that is ok.

[2016-10-02 21:26] JulianNorton commented on #35
Go for it @BratCat! Would love to know the reason for what's causing this and a good solution that doesn't break other browsers.

[2016-10-02 21:32] JulianNorton commented on #9
Confirming this has been resolved on development branch (in chrome).

[2016-10-02 21:32] #9 closed

[2016-10-02 21:35] BratCat commented on #35
I'll see what I can come up with. :) Thanks!

[2016-10-02 21:39] JulianNorton commented on #13
Instead of a specific implementation, I'd love for someone to investigate a proof of concept or a critique of performance.

Would be glad to create a more specific issue if there's something specific someone would like to do.

[2016-10-02 21:50] JulianNorton commented on #5
The reason for including `<style>` within the svg itself is a redundancy in case the `<style>` in the head isn't rendered correctly.

I'm confirming this is still an issue in Firefox `47.0.1` on mac but **not** `49.0.1`. 47 is recent enough that a fix is warranted.

The cause is probably the `min-width: 4rem` being overwritten by `width: 1em`. A fix maybe to wrap the svg in a font-size class?

[2016-10-02 22:17] JulianNorton opened #37 "Bookmarked/Pinned ios icon ugly black background"
It's using https://github.com/JulianNorton/weather-10kb/tree/production/public/images/default

Recommend just giving the `.ico` file a white background?

![screen shot 2016-10-02 at 6 17 13 pm](https://cloud.githubusercontent.com/assets/2412992/19024206/81af9574-88cc-11e6-8f62-35cedbc8af4b.png)

[2016-10-02 22:31] jotasprout commented on #24
That was just plain rude.

[2016-10-02 22:46] JulianNorton commented on #24
I'm not sure if I understand, apologies if I miscommunicated.

I was trying to say that @blanyal added the css class and font-variant small-caps to the 'now' card, but it's still not yet added to the hourly list.

[2016-10-02 23:38] jotasprout commented on #24
Sorry I'm grumpy. Thought someone was poaching an opportunity for a Pull Request. Hacktoberfest t-shirts are on the line, you know. Again, sorry for being a sensitive douche. I'll, most humbly, finish this up.

[2016-10-03 00:01] JulianNorton commented on #24
Just realizing now that the characters themselves should be lowercase, so the small-caps styling gets applied correctly.

![screen shot 2016-10-02 at 8 01 00 pm](https://cloud.githubusercontent.com/assets/2412992/19024834/fe3ffe86-88da-11e6-9756-ccf544b55aca.png)
![screen shot 2016-10-02 at 8 01 08 pm](https://cloud.githubusercontent.com/assets/2412992/19024835/fe43baa8-88da-11e6-8245-47f057e5d302

[2016-10-03 00:05] jotasprout commented on #24
Thanks for that--just in time! I was just looking at the live site wondering why they looked like normal "large" caps.

[2016-10-03 00:05] jotasprout commented on #24
What file contains the hourly list and such?

[2016-10-03 00:06] JulianNorton commented on #24
~~@jotasprout https://github.com/JulianNorton/weather-10kb/blob/development/views/partials/summary.ejs~~

[2016-10-03 00:07] JulianNorton commented on #24
`<span class="data-secondary"><%= moment.unix(hourly.data[i].time).format('hA')%></span>` line 78 of index.ejs is where the time is.

[2016-10-03 00:10] jotasprout commented on #24
Rock on! My first time launching Atom!

[2016-10-03 00:25] kazoni commented on #37
I'll grab this one.

[2016-10-03 00:26] JulianNorton commented on #37
https://github.com/JulianNorton/weather-10kb/pull/39 was attempting to resolve it.

Recommend reading http://jaydenseric.com/blog/favicon-optimization, the filesize for this shouldn't be larger than `15kb.`

[2016-10-03 00:31] kazoni commented on #37
I'm down to 1.8 kb.  I'll send a PR - feel free to close it if #39 looks better for you.

[2016-10-03 00:33] JulianNorton commented on #37
Excellent @kazoni! I don't think your PR `.ico` has multiple [sizes explained in detail here](https://github.com/audreyr/favicon-cheat-sheet#ico-file), but I think it's better than the current version. Merging in now.

[2016-10-03 00:34] #37 closed

[2016-10-03 00:42] JulianNorton opened #41 "Implement weather warnings & alerts"
Static code example: https://github.com/JulianNorton/weather-10kb/blob/development/views/pages/index.ejs#L25

![screen shot 2016-10-02 at 8 36 46 pm](https://cloud.githubusercontent.com/assets/2412992/19025042/18f3d39c-88e0-11e6-8e07-b1c38b653197.png)

## [Should use `alerts` section of darksky api](https://darksky.net/dev/docs/forecast)

The code should be a separate file in `/partials`. It shoul

[2016-10-03 00:43] kazoni commented on #37
It should - the smaller 2 images are behind the big one in the file so with the solid background, they're hidden.

[2016-10-03 00:46] jotasprout commented on #24
I'm not seeing in my inspector what's in your screenshot. Is your screenshot of the live site?
![inspector](https://cloud.githubusercontent.com/assets/12866150/19025106/46662a40-88e1-11e6-98c3-393dcd30014e.png)

[2016-10-03 00:47] jotasprout commented on #24
I just want to make sure I'm following the same methods you're using.

[2016-10-03 00:47] JulianNorton commented on #24
do `git branch` to see what branch you're on. `git checkout development` if you're not already on it, and `git pull` in case your branch is stale.

[2016-10-03 01:02] jotasprout commented on #24
Ah. Sorry. I was confusing production & development. Could I be any higher maintenance? Hopefully it's cool if I finish this tomorrow. I need to go prevent my wife from divorcing or killing me for spending all day on the computer. Thanks for your patience and the opportunity.

[2016-10-03 01:04] JulianNorton commented on #24
No problem! I'll remove the help wanted tags to make it clear you've got this.

[2016-10-03 12:42] ryanwr commented on #12
@JulianNorton As you mentioned in PR #32 I think it's make it clearer to show the day above the hourly, or move into separate cards.

Maybe something like these, they are similar to your screenshots
![wxkbio_mock1](https://cloud.githubusercontent.com/assets/9446239/19037640/35285846-896f-11e6-9ad0-682652cd9f43.png)

I prefer this one
![wxkbio_mock2](https://cloud.githubusercontent.com/assets/94462

[2016-10-03 15:00] modelm commented on #21
We haven't seen that error before but I'll have some time to look into it tonight. Do you have any kind of stack trace or error log that might be relevant @aarongustafson ?

[2016-10-03 15:05] JulianNorton opened #43 "Invalid characters server error"
http://wxkb.io/?location=%C4%8C%C3%ADmice%2C+klatovy results in an internal server error.

http://wxkb.io/?location=%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C

wxkb should support non-english characters

[code]

![screen shot 2016-10-03 at 11 03 53 am](https://cloud.githubusercontent.com/assets/2412992/19042220/2e0f0ea8-8959-11e6-8d11-de71b748a87e.png)

[2016-10-03 15:20] modelm commented on #21
I think I've found the cause, but unfortunately our options to fix it are limited.

I think this is the source of the error: https://github.com/lxfontes/node-freegeoip/blob/master/lib/freegeoip.js#L25

and I'm guessing maybe our requests from Azure are coming from a shared IP which is also being used by other apps using the same service. If so, is it possible to change that IP? If not then we're g

[2016-10-03 15:40] JulianNorton opened #44 "Include license in repo itself"
For example, https://github.com/WordPress/WordPress/blob/master/license.txt

[2016-10-03 15:48] kazoni commented on #43
I installed based on your readme and I can't recreate the error.  Chrome 53.0.2785.143 (64-bit) on Linux Mint 18.

![screenshot from 2016-10-03 10-45-59](https://cloud.githubusercontent.com/assets/15349438/19043666/c03626ca-8956-11e6-9ee5-acd95d846a29.png)

[2016-10-03 15:56] JulianNorton commented on #43
I'm getting it locally with [http://localhost:5000/?location=%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C](http://localhost:5000/?location=%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C%C4%8C)

[code]

¯\_(ツ)_/¯

[2016-10-03 16:12] danielbayerlein commented on #44
PR already exists, see #45

[2016-10-03 16:24] JulianNorton commented on #44
https://opensource.org/licenses/GPL-2.0

[2016-10-03 16:32] ryanwr commented on #12
@JulianNorton I think you can close this now

[2016-10-03 16:41] ryanwr opened #46 "Clarify today/tomorrow weather separation"
Since the summary now changes between Today/Tomorrow, the hourly should be clearly indicated what day the hours refer to.

[2016-10-03 17:02] aarongustafson opened #47 "Are you good with it going in as-is or are there server issues you still want to resolve"
Speak now or forever hold your peace :-)

https://wxkb-io-a-super-fast-weat-10kapart2016.azurewebsites.net/

[2016-10-03 17:17] kazoni commented on #41
I monkeyed a bit with this so I think I have a starting point, but my JS fu is somewhat weak.  I have it so it looks like it's building the section to place the alert info in, but the partial page isn't getting the data passed to it (or I'm calling it wrong).  I did pull out the exclusion for alerts info on the API call.

https://github.com/kazoni/weather-10kb/commit/87bfabce65bf9c58f85c4e99e70d86

[2016-10-03 17:23] JulianNorton commented on #47
Thanks @aarongustafson

referencing comments from here: https://github.com/JulianNorton/weather-10kb/issues/21

We'd absolutely want to submit _something_ rather than nothing. What are our options?

[2016-10-03 17:26] JulianNorton commented on #46
Changed title to be less prescriptive, the problem we're trying to solve is that it's confusing to show 'tomorrow' above the 'today' hourly weather.

[2016-10-03 17:29] JulianNorton commented on #41
What location are you testing that has alerts?

[2016-10-03 17:29] JulianNorton commented on #12
yes! thanks @ryanwr

[2016-10-03 17:29] #12 closed

[2016-10-03 17:30] ryanwr commented on #46
I'll take this one :)

[2016-10-03 17:31] kazoni commented on #41
Pueblo, CO right now has a red flag warning.  I ran it through Dark Sky manually and here's the pertinent part:

[code]

[2016-10-03 18:11] aarongustafson commented on #21
Let me loop in @molant.

[2016-10-03 18:17] #46 closed

[2016-10-03 18:21] molant commented on #21
@modelm, @aarongustafson
The external IP address for your site is: 104.210.38.149 (that's the one reported to create an SSL cert)
The value of `ip` in line 46 is: 167.220.62.78:59818

Hope this helps

[2016-10-03 19:44] modelm commented on #21
Thanks, I think the port on the end is the problem. I'll test & commit a
fix tonight.

On Mon, Oct 3, 2016 at 2:21 PM, Anton Molleda notifications@github.com
wrote:

[2016-10-03 22:14] modelm commented on #21
I've pushed a fix to master: https://github.com/JulianNorton/weather-10kb/commit/73ed8d3a1b80349eef484ddd2483638b32c878d4 @aarongustafson

[2016-10-03 22:16] JulianNorton commented on #21
Merge it with production and deploy on heroku? I disabled auto deploy

On Mon, Oct 3, 2016, 6:14 PM Ryan Williams notifications@github.com wrote:

[2016-10-03 22:18] modelm commented on #21
This patch is a fix specifically for azure. It will have no effect on heroku. (It won't hurt, but there's no reason to deploy it alone)

[2016-10-03 22:53] jotasprout commented on #24
I'll be honest, I am unfamiliar with the language/framework so I won't be offended if I did this incorrectly but it looked pretty simple.

[2016-10-03 23:25] JulianNorton commented on #47
@aarongustafson https://github.com/JulianNorton/weather-10kb/tree/master

[2016-10-04 17:19] #47 closed

[2016-10-04 17:19] #21 closed

[2016-10-04 17:20] JulianNorton commented on #35
merged in

[2016-10-04 17:20] #35 closed

[2016-10-04 18:23] JulianNorton commented on #44
https://github.com/JulianNorton/weather-10kb/pull/45

[2016-10-04 18:23] #44 closed

[2016-10-04 18:24] JulianNorton commented on #24
merged into production! http://wxkb.io/

[2016-10-04 18:24] #24 closed

[2016-10-04 18:26] JulianNorton commented on #15
![screen shot 2016-10-04 at 2 25 59 pm](https://cloud.githubusercontent.com/assets/2412992/19087013/7e30486c-8a3e-11e6-985e-06f4071467f8.png)

I think `min-height` instead of `height` on button would resolve this line wrap issue.

[2016-10-05 16:34] JulianNorton opened #54 "Refine svg animation for thunderstorm"
It'd be nice if the lightning bolt had a revelry animation.
- https://github.com/JulianNorton/weather-10kb/blob/development/public/images/thunderstorm.svg
- https://github.com/JulianNorton/weather-10kb/blob/development/public/style/styles-compiler.scss#L251

[2016-10-05 16:35] JulianNorton opened #55 "Implement hail animation"
It'd be nice if the hail svg an animation.
- https://github.com/JulianNorton/weather-10kb/blob/development/public/images/hail.svg
- https://github.com/JulianNorton/weather-10kb/blob/development/public/style/styles-compiler.scss#L251

[2016-10-05 16:36] JulianNorton opened #56 "Implement snow.svg animation"
It'd be nice if the snow.svg had an animation.

* https://github.com/JulianNorton/weather-10kb/blob/development/public/images/snow.svg

* https://github.com/JulianNorton/weather-10kb/blob/development/public/style/styles-compiler.scss#L251

[2016-10-05 16:36] JulianNorton opened #57 "Implement sleet.svg animation"
It'd be nice if the sleet.svg had an animation.

* https://github.com/JulianNorton/weather-10kb/blob/development/public/images/sleet.svg

* https://github.com/JulianNorton/weather-10kb/blob/development/public/style/styles-compiler.scss#L251

[2016-10-05 17:04] JulianNorton opened #58 "Design "next 6 days" forecast"
It should be a separate page that is linked from the header.

Each day can be a card?

[2016-10-05 17:05] modelm commented on #58
need to decide on a URL route for this page that won't conflict with existing page(s)

related to https://github.com/JulianNorton/weather-10kb/issues/4 and maybe https://github.com/JulianNorton/weather-10kb/issues/3 since the resolution of those may involve a change to routes

[2016-10-05 17:30] modelm commented on #41
@kazoni you need to use `data` rather than `alert` in the partial view. Check out how summary.ejs does it - it's called twice, once using hourly data and once using current data, but the partial view uses the same reference for both because they're passed as `data` in both places in index.ejs.

[2016-10-05 19:19] JulianNorton commented on #57
Current:
![oct-05-2016 15-17-23](https://cloud.githubusercontent.com/assets/2412992/19127929/1c1843c4-8b0f-11e6-8c85-514f1557bb9c.gif)

[2016-10-05 21:39] kazoni commented on #41
Tried that and still not getting anywhere: https://github.com/kazoni/weather-10kb/commit/e343646b3693d1b63eaa98667e67578dfa0f54fc

My understanding (which is probably flawed) is index.ejs passes the data to the partial page in the format   `<%- include('../partials/alert', {data: FIRSTLEVELJSONATTRIBUE})%>` which parses and displays it.  So if I pass data:alerts, then in the partial I should be ab

[2016-10-05 23:48] modelm commented on #41
Almost - since `alerts` is an array, you need to either pass `{data: alerts[0]}` in index.ejs or use `data[0]` in the partial view. One of those will probably cause an error if the array is empty so you may need to check for `alerts.length > 0` before trying to access `alerts[0]` (I think it makes sense to do that in index.ejs and only include the partial view if the length > 0, that way the app n

[2016-10-06 00:03] kazoni commented on #41
Aha!  That makes a lot more sense.  The last few commits I saw was making me hint at it, but I couldn't quite get my finger on it.  That should get me in the right direction.

Edit:  It did, except now I have a wall of text since Florida is about to be removed from the map again by Matthew.  But I have something tangible to work with.  All hail @modelm!

[2016-10-06 11:15] themaxsandelin commented on #56
What kind of animation are you looking for? :)

[2016-10-06 13:25] JulianNorton commented on #56
Up to whoever tackles it. Ideally something that has the same tone as the
rain animation.

On Thu, Oct 6, 2016, 7:15 AM Max Sandelin notifications@github.com wrote:

[2016-10-06 14:50] themaxsandelin commented on #56
I can certainly take it on. I have forked the repo and installed it locally, but I have problems changing location as I'm getting `Status is REQUEST_DENIED. The provided API key is expired.`.

[2016-10-06 14:53] JulianNorton commented on #56
How are you running it locally, what terminal command? Does it match the
API key you have on dark sky?

On Thu, Oct 6, 2016, 10:50 AM Max Sandelin notifications@github.com wrote:

[2016-10-06 14:54] themaxsandelin commented on #56
@JulianNorton I'm running `DARK_SKY_API_KEY=dab76120782e332f5c40df60ae8325eb node index.js` as instructed in the README. And yep the API key is correct, it works great when I'm running on IP location :)

[2016-10-06 15:10] themaxsandelin commented on #54
@JulianNorton Would be super cool to have the lightning fade to a sharp yellow while moving downwards in a striking motion. 🌩👌🏻

[2016-10-06 15:49] danhannigan commented on #54
Took a crack at it last night, but forgot to reference the issue. Let me know if it needs adjustments or just looks awful :D

[2016-10-06 16:32] JulianNorton commented on #54
Current version thanks to @danhannigan ⚡️:

![oct-06-2016 12-30-04](https://cloud.githubusercontent.com/assets/2412992/19161187/c62b7bf4-8bc0-11e6-8cf3-f46be482edf2.gif)

Quick tip to see it locally, make the first include for the svg icon this:

`<%- include('../../public/images/' + 'thunderstorm' + '.svg') %>`

[2016-10-06 16:33] JulianNorton commented on #54
I'm also open to someone just designing it in Principle App or After Effects and having a separate task for its' implementation.

[2016-10-06 16:44] JulianNorton opened #62 "Error: Status is REQUEST_DENIED. The provided API key is expired."
<img width="869" alt="screen shot 2016-10-06 at 12 44 03 pm" src="https://cloud.githubusercontent.com/assets/2412992/19161646/944f7ee4-8bc2-11e6-95ff-50699b8539c9.png">

This error is resolved if you sign up for a google api key and specify it.
- https://console.developers.google.com/apis/api/geocoding_backend

[code]

@modelm anyway around this error? Or should I include that they need to sign up

[2016-10-06 16:45] JulianNorton commented on #56
@themaxsandelin I'm confirming your error. I recommend resetting your darksky API key so not anyone can start using it.

Moving conversation to newly created issue https://github.com/JulianNorton/weather-10kb/issues/62

[2016-10-06 16:54] danhannigan commented on #54
I like the Principle/AE idea 👍

[2016-10-06 17:00] JulianNorton opened #63 "Determine root cause of "Error: Can't set headers after they are sent.""
https://gist.github.com/anonymous/435d0094312cfa7e02668aae6bd183d7

Running locally with darksky and google api key defined.

When a location is changed in browser, it returns this error in terminal:

[code]

It doesn't seem to be affecting the browser. Git bisect to find when this error is introduced?

[2016-10-06 19:38] #63 closed

[2016-10-06 20:29] themaxsandelin commented on #56
@JulianNorton Works great! Just a note, I'm receiving a logging error due to the Opbeat configuration. (Yes, I know I should ignore it but incase you weren't aware.)

Will start working on the animation now 🙂

[2016-10-06 20:35] themaxsandelin commented on #56
@JulianNorton Have you thought about adding `editorconfig` to the project? 👌🏻

[2016-10-06 20:38] JulianNorton commented on #56
nope ¯\_(ツ)_/¯, create an issue for discussion? I'm honestly not familiar with how to best set up node apps, looking forward to hearing about it.

[2016-10-06 20:48] themaxsandelin opened #65 "Consider adding EditorConfig to the project"
Setting up an [EditorConfig](http://editorconfig.org), particularly in collaboration projects, will let you set a standard for each project in terms of coding style. This makes sure that the indentations are formatted correctly and you are able to define coding style for each language that you use in your project.

All that is needed is an `.editorconfig` file where you specify all of the project

[2016-10-06 21:07] JulianNorton commented on #65
Can you recommend a version for wxkb?

[2016-10-06 21:14] themaxsandelin commented on #65
@JulianNorton You mean an `.editorconfig` file that fits to the project?

[2016-10-06 22:27] JulianNorton commented on #65
Yep, for example I know that scss file is 4 space indents.

On Thu, Oct 6, 2016, 5:14 PM Max Sandelin notifications@github.com wrote:

[2016-10-07 07:01] themaxsandelin commented on #56
@JulianNorton Check out [this CodePen](http://codepen.io/themaxsandelin/pen/RGQgjz) for the animation. Let me know what you think 🙂

[2016-10-07 07:53] Tardog commented on #3
I would like to tackle this issue. Anyone else working on it?

[2016-10-07 08:09] themaxsandelin commented on #65
@JulianNorton Sure thing, I can create one based on the standard rules for the syntaxes you use in the project.

[2016-10-07 13:15] lasseborly commented on #3
I thought I had the time, but at the moment too much is creeping up on me.
@Tardog I don't think so and can't find a branch that should be working on it.
But wait for @JulianNorton go ahead I guess.

[2016-10-07 14:17] JulianNorton commented on #3
Go for it @Tardog! I really like how https://atmosphere.li/ (seems to be down currently) did their units with cookies, but it's up to you.

[2016-10-07 14:18] JulianNorton commented on #56
Awesome! Already merged, closing the issue.

[2016-10-07 14:18] #56 closed

[2016-10-07 14:21] JulianNorton opened #67 "Vote for wxkb on azure contest"
https://a-k-apart.com/gallery/wxkb-io-A-super-fast-weat

If you vote with github login, it doesn't take your email address.

[2016-10-07 14:38] Tardog commented on #3
Great! I’m on it. Will take a look at https://atmosphere.li/ when it’s up again. Thanks!

[2016-10-07 17:35] Tardog commented on #3
I finished the server-side implementation. Regarding presentation on the client side: Buttons like those on the atmosphere.li site are indeed a nice way to do it, but the way they labeled their buttons does not feel intuitive.

The select list on Dark Sky’s site does a better job at explaining what each of the options actually do, but does not fit as nicely into the existing UI of wxkb.io.

In the

[2016-10-07 17:44] JulianNorton commented on #3
Those look great! Really love how you solved it. Things I'd be concerned about when reviewing PR's in general.
1. [Accessibility](https://a-k-apart.com/faq#a11y)
2. Cross-browser compatibility (I'll open it in lynx)
3. Performance (shouldn't be a problem here)

[2016-10-07 17:55] #41 closed

[2016-10-07 17:56] JulianNorton opened #68 "Update production branch with development"
Needs:
* https://github.com/JulianNorton/weather-10kb/issues/3 [done]
* https://github.com/JulianNorton/weather-10kb/issues/15 (button just needs height change?)

[2016-10-07 18:01] Tardog commented on #3
Thank you. Glad you like it!

All of these are valid concerns. Full cross-browser and accessibility testing will be done by me over the course of the weekend before submitting the PR. Unfortunately, I don’t have access to a device with OSX or iOS.

[2016-10-07 18:53] themaxsandelin commented on #65
@JulianNorton The `.editorconfig` file is now setup using **spaces** as tab style as well as default to **2 spaces** with exception for `.scss`, `.ejs` and `.html` files. This is based on the current files in the project and can of course be expanded upon the potential growth of the project.

[2016-10-07 19:38] #65 closed

[2016-10-08 14:53] JulianNorton commented on #43
https://github.com/JulianNorton/weather-10kb/commit/0e007faa5d7cb6541b9a048d563cdf847c3b1472 solves it, thanks to @cshu

[2016-10-09 22:53] JulianNorton opened #75 "Resolve m/s, km/h, mph wind speed text not matching"
https://github.com/JulianNorton/weather-10kb/commit/bf492bfd430a7fa1c391ea2d63cbba92e517740a

Currently there's only support for m/s and mph.

Because we have 3 possible units for wind speed, the text for breeze/wind/gale should also switch. Currently there's only 2 enabled values.

cc @Tardog

[2016-10-09 22:55] JulianNorton opened #76 "Resolve no wind not based on unit values"
https://github.com/JulianNorton/weather-10kb/commit/1e7b23824e3423268f7ef3ba3856080203952d1c

Currently if the wind is in mph or m/s, it displays "no wind" if low enough. It should support km/h.

Related to https://github.com/JulianNorton/weather-10kb/issues/75

cc @Tardog

[2016-10-09 22:58] JulianNorton opened #77 "Address scenario if country code is invalid or null"
https://github.com/JulianNorton/weather-10kb/commit/49692e2cee49eff07b31e1cba2acaca171a18233#diff-7c2c3a12aad63ed8b25f85cd9a1a5a42R41

It's possible that the country code won't always be available, how would you address the null or error state?

cc @Tardog

[2016-10-10 13:53] atanasg commented on #76
I can help

[2016-10-10 13:55] JulianNorton commented on #76
Go for it!

On Mon, Oct 10, 2016, 9:54 AM Atanas Gegov notifications@github.com wrote:

[2016-10-10 15:03] #77 closed

[2016-10-10 17:46] Tardog commented on #75
I’m on it. This shouldn’t take long.

[2016-10-10 22:50] #76 closed

[2016-10-10 22:58] #75 closed

[2016-10-11 01:12] #3 closed

[2016-10-11 04:37] Tardog commented on #4
Now that a cookie implementation exists, we could add another button or toggle option to the bottom of the page for 12/24 h preferences. I can help with that if this issue is still unclaimed.

[2016-10-11 14:59] JulianNorton commented on #4
I'm worried an explicit option being annoying. Is there a way to default based on country? Weather.com for example does it based on language.
![screen shot 2016-10-11 at 10 55 37 am](https://cloud.githubusercontent.com/assets/2412992/19275380/8acd84e6-8fa1-11e6-8914-c911860249f4.png)
![screen shot 2016-10-11 at 10 56 28 am](https://cloud.githubusercontent.com/assets/2412992/19275381/8ad77884-8fa1-

[2016-10-11 20:57] JulianNorton commented on #14
An argument for HTTPS:
https://youtu.be/-I3ntYVupGA?t=40m33s
It would address man in the middle attacks.

[2016-10-12 19:44] #43 closed

[2016-10-13 00:38] JulianNorton opened #84 "Investigate Yarn"
https://code.facebook.com/posts/1840075619545360/yarn-a-new-package-manager-for-javascript/

https://github.com/yarnpkg/yarn

@modelm Can verify that package updates has broken wxkb.io on production before.

[2016-10-13 04:37] arpit1997 commented on #84
Can i work on this issue @JulianNorton

[2016-10-13 13:24] JulianNorton commented on #84
Go for it! Please also include **why** you think it should be implemented
(or not implemented).

On Thu, Oct 13, 2016, 12:37 AM Arpit Solanki notifications@github.com
wrote:

[2016-10-13 15:05] arpit1997 commented on #84
I personally don't feel any need to migrate this to yarn because yarn itself uses npm's package.json so it is just trivial. npm does not seem to have much performance, security issues so i guess yarn should not be implemented.
While installing this application i got something like this although everything worked pretty fine.
`
yarn install v0.15.0
info No lockfile found.
[1/4] Resolving packages..

[2016-10-13 15:29] JulianNorton commented on #84
Thanks @arpit1997 for looking into it. I agree that a Yarn migration isn't really worth the trouble.

I don't have those warnings with `npm install`, it might be a separate issue.

[2016-10-13 15:29] #84 closed

[2016-10-13 19:16] Tardog commented on #4
Should we still provide a means to change time format if the user wants to override the default for their location?

[2016-10-13 19:24] Tardog commented on #8
So far I have been unable to reproduce this bug. Has anyone else noticed inconsistent times while testing or using the app?

[2016-10-13 19:56] JulianNorton commented on #8
This issue was from several weeks ago, I'll close it out until someone (@modelm ?) can reproduce it.

[2016-10-13 19:56] #8 closed

[2016-10-13 20:02] JulianNorton commented on #4
The default per country may address the issue of regionalism users that are used to the 24 hour clock. I'm open to other examples/options too, but right now I'm not convinced a specific UI element is worth it for _every_ user.

[2016-10-16 06:12] raavanan commented on #67
done!

[2016-10-16 14:47] JulianNorton opened #86 "Add white background to default weather icon."
https://github.com/JulianNorton/weather-10kb/commit/2dedf2acf6bd1d7b102c42d5f4fbe3b04785cec5#diff-5274e2c744ac3760487fe4049225cc9b

Note the black background that's added by default on ios.
![0](https://cloud.githubusercontent.com/assets/2412992/19418237/f2919348-938d-11e6-80a7-bae894a46628.png)

[2016-10-16 15:03] vharsh commented on #86
Hi, I did a quick web search and found out that it is because of transparency, adding new(i.e. seperate) icons for iOS devices should fix the issue, am I thinking in the right direction?

[2016-10-16 15:25] JulianNorton commented on #86
I think adding separate icons for ios is unnecessary, the other weather icons already have white backgrounds already.

[2016-10-16 15:28] JulianNorton commented on #86
Good resource: http://jaydenseric.com/blog/favicon-optimization

[2016-10-16 15:40] Tardog commented on #4
All right. Right now, I can’t think of good way to implement this without cluttering the UI, so I went with the default based on country code. PR: #87

[2016-10-16 15:56] #4 closed

[2016-10-16 15:58] JulianNorton commented on #4
Merged in!

[2016-10-16 23:20] ghost commented on #86
I've done a similar thing for my own website (although I used 16, 24, 32 and 64px sizes). If @vharsh doesn't take this, I'm happy to take it on.

Would you prefer to limit the sizes to the ones in your link; i.e. 16, 32 and 48px?

[2016-10-16 23:22] JulianNorton commented on #86
@CodeMacabre Go for it! I'm worried about how much larger the file size would be for 64px.

[2016-10-17 07:09] ghost commented on #86
Ok, I'll get on it as soon as I'm back from work. My favicon is definitely too large (32.2kb), so probably best to avoid 64px, especially as this project's focus is on a small filesize.

[2016-10-17 17:08] JulianNorton commented on #86
merged fix into development

[2016-10-17 17:08] #86 closed

[2016-10-18 17:40] JulianNorton opened #90 "TypeError: twelveHourTime.includes is not a function"
cc @Tardog

`TypeError: twelveHourTime.includes is not a function`

![screen shot 2016-10-18 at 1 38 59 pm](https://cloud.githubusercontent.com/assets/2412992/19489232/6b60d954-9538-11e6-8c61-abeeb0f65fd1.png)

[2016-10-18 17:47] Wferr commented on #90
How are you re-producing this? Cant seem to find it.

[2016-10-18 17:49] JulianNorton commented on #90
I pushed https://github.com/JulianNorton/weather-10kb/commit/60b8d50054c332d7ae57bd8028f47e912bcfac66 to production, I've since reverted it.

[2016-10-18 17:58] Tardog commented on #90
Probably an issue of the Node version running in production being too old to support Array.Prototype.includes(). We can use indexOf() instead. PR: #92

[2016-10-18 17:59] JulianNorton commented on #90
Thanks @Tardog! Checking it out now locally on dev. I'll try deploying to production again after.

[2016-10-18 18:06] JulianNorton commented on #90
@Tardog deployed on production :)

[2016-10-18 18:06] #90 closed

[2016-10-18 20:05] Tardog commented on #14
Comprehensive analysis about performance implications of HTTPS over plain HTTP:
https://www.keycdn.com/blog/https-performance-overhead/

From my own experience (I’m using a browser plugin, HTTPS Everywhere, to ensure SSL is used automatically on any site supporting it), I can confirm that performance penalty on SSL requests compared to plain HTTP is negligible.

While absolutely required for all r

[2016-10-20 04:32] Tardog opened #93 "Clean up code to Airbnb code guidelines"
Currently, coding style is inconsistent throughout the project:

- Some lines have semicolons, while others don’t
- Variables/parameters are mostly camel case, but not always
- Strings use both single and double quotes

Cleaning up the code, establishing code style guidelines for contributing, and adding .eslintrc will improve code quality and consistency.

Also, styles-compiler.scss could be spli

[2016-10-20 14:04] JulianNorton commented on #93
http://editorconfig.org/ was suppose to help: https://github.com/JulianNorton/weather-10kb/blob/development/.editorconfig so at least indents are consistent. If you want to clean up the code, add eslintrc and some instructions on how to use it, go ahead!

Splitting out the source scss files is a separate issue and valid issue. For example, putting the animations in another file that the css compil

[2016-10-20 15:08] JulianNorton opened #94 "Separate out .scss file into partials"
Right now there is a single `.scss` file that compiles the css. It can be broken down into separate components to make it easier to find and understand the classes.

For example, there can be a 'iconography.scss` file that includes the svg animation and styles.

cc @tardog

[2016-10-20 16:45] raphaabrasil commented on #94
@JulianNorton I'll take a look a this, ok?

[2016-10-20 17:30] Tardog commented on #93
Sure, I will gladly help with this, but won’t be able to start until the day after tomorrow.

Absolutely.

[2016-10-20 19:14] dhruvdutt commented on #94
Can I do it?

[2016-10-20 19:34] JulianNorton commented on #94
@raphaabrasil @dhruvdutt I'll happily review whoever submits a pull-request. Most likely you'll both have great contributions that will both be used.

[2016-10-21 10:05] gavmck commented on #94
Got excited and dove in, I love a good refactor :)

[2016-10-21 15:21] JulianNorton opened #96 "Refine `.scss` styles refactoring"
Here's some comments I had:
https://github.com/JulianNorton/weather-10kb/pull/95#pullrequestreview-5273314

Open to discussion!

[2016-10-21 15:22] JulianNorton commented on #94
Thanks @gavmck for the pull request! This issue has been resolved. I've created another task if anyone wants to take it a step further.

https://github.com/JulianNorton/weather-10kb/issues/96

[2016-10-21 15:22] #94 closed

[2016-10-22 16:34] JulianNorton commented on #14
https://github.com/Daplie/letsencrypt-express

[2016-10-22 18:41] JulianNorton commented on #14
I gave it a shot, but it's above my head, I don't think it's as easy to get this setup with Heroku.

[2016-10-22 18:57] JulianNorton commented on #14
Heroku will do it for paid tiers, $7 a month.

![screen shot 2016-10-22 at 2 57 08 pm](https://cloud.githubusercontent.com/assets/2412992/19621788/d1ffa9c4-9867-11e6-8f55-0435886bd35c.png)

[2016-10-22 19:28] JulianNorton opened #97 "Check if expired alerts are being delivered, if expired, don't show."
https://alerts.weather.gov/cap/wwacapget.php?x=NY12561A8F37E8.WindAdvisory.12561A9EC460NY.OKXNPWOKX.0c2a941986b2432f4cd5d40f6245e109

![screen shot 2016-10-22 at 3 26 57 pm](https://cloud.githubusercontent.com/assets/2412992/19621960/224a789c-986c-11e6-9826-298ba702b2b3.png)
![screen shot 2016-10-22 at 3 26 52 pm](https://cloud.githubusercontent.com/assets/2412992/19621961/224edb3a-986c-11e6-934e-

[2016-10-23 03:18] Tardog commented on #93
Should we go with the [Airbnb JavaScript Style Guide](https://github.com/airbnb/javascript) as a coding standard?

[2016-10-23 03:22] JulianNorton commented on #93
I don't code javascript, so that's as good as any for me! @modelm did all/most of the original javascript.

[2016-10-23 13:19] modelm commented on #93
Sure, blame me :p I wasn't expecting nearly this much publicity or really anybody else to contribute so the original code was kind of a mess and plenty of messier PRs have since been merged. @Tardog feel free to go with the airbnb standard if you want.

[2016-10-23 15:21] Tardog commented on #93
Hehe… okay, Airbnb it is, then. 👍

[2016-10-23 16:12] lasseborly commented on #14
Have you looked at https://github.com/certbot/certbot ?

Otherwise there is always CloudFlare and their way of doing https.

[2016-10-23 16:13] JulianNorton commented on #96
https://github.com/JulianNorton/weather-10kb/pull/98#pullrequestreview-5367349

@gavmck if you have time, another pair of eyes would be great. I tried to address the things we had talked about.

[2016-10-23 16:17] JulianNorton commented on #96
merged in

[2016-10-23 16:17] #96 closed

[2016-10-23 16:27] JulianNorton commented on #14
@brentdax I was trying to go through your PR here: https://github.com/certbot/certbot/pull/2867

Is this still valid? I was hoping you'd have a recommendation here.

![screen shot 2016-10-23 at 12 26 56 pm](https://cloud.githubusercontent.com/assets/2412992/19627729/07624676-991c-11e6-9e0a-6d8459c82e4a.png)

[2016-10-24 06:24] beccadax commented on #14
@JulianNorton My branch works for me with the version of Certbot it was built against, but I haven't tested it with Heroku's new free SSL support (only with the SSL Endpoint add-on), or with newer versions of Certbot.

The plug-in basically works by creating files in your working copy's `public/.well-known/acme-challenge`, committing those files, and then telling Let's Encrypt to go look at them.

[2016-10-24 22:37] JulianNorton commented on #14
http://stackoverflow.com/questions/40199580/how-can-i-use-a-letsencrypt-ssl-cert-in-my-heroku-node-express-app this seems like it should work, trying now.

[2016-10-24 23:38] JulianNorton commented on #14
## 🔒 https://weather-10kb.herokuapp.com/

Progress!

![screen shot 2016-10-24 at 7 28 03 pm](https://cloud.githubusercontent.com/assets/2412992/19667717/82a4d66e-9a20-11e6-983b-aeb0a24c6d46.png)

![screen shot 2016-10-24 at 7 33 10 pm](https://cloud.githubusercontent.com/assets/2412992/19667796/efaf65ee-9a20-11e6-8d41-d3e5b66dc9ac.png)

The terminal said it needs to renewed on 2017-01-27, but the

[2016-10-25 00:55] beccadax commented on #14
@JulianNorton When you visit the page through herokuapp.com, it uses Heroku's certificate, not yours. You'd expect this certificate to be used with wxkb.io, but currently that's using a Cloudfront certificate.  I'll let you folks work that issue out—all the files you'll need to send to Cloudfront are in `/etc/letsencrypt/live/wxkb.io` on your machine, though they may only be accessible to root.

I

[2016-10-25 15:06] JulianNorton commented on #14
Haha jeez, I can't believe I didn't notice that was the original heroku cert. Thanks, continuing to investigate with @modelm.

[2016-10-25 18:26] JulianNorton commented on #94
Go for it!

On Thu, Oct 20, 2016, 12:45 PM Raphael Brasil notifications@github.com
wrote:

[2016-10-25 21:23] danhannigan commented on #57
Hey @JulianNorton - pulled a codepen on this:

http://codepen.io/danhannigan/pen/RGddZO

What do you think? (didn't grab the matching color, but the concept is there)

[2016-10-25 21:32] JulianNorton commented on #57
@danhannigan Right now it feels a little fast, I'm concerned that it might not read as 'sleet' enough, but perhaps that's more true to the source. I like how you separated them to move independently, that feels more real and matches the current rain animation.

https://www.youtube.com/watch?v=4829C0k2N40

Updated your color blue:
http://codepen.io/JulianNorton/pen/ZpPkyR

[2016-10-25 21:37] danhannigan commented on #57
I hear you on the speed - and pulled your colors in to my pen too, thanks for that!

Adjusted the speed and timing again based off that feedback

[2016-10-25 23:49] JulianNorton commented on #57
The angles are a little bit off, but I'll gladly merge in a PR of this. Definitely an improvement. Are you comfortable implementing this or would you like someone else to do it?

[2016-10-26 04:33] JulianNorton opened #101 "Resolve placeholder being statically 'New York, NY'"
Defaulting  to New York is fine if IP geocode fails. The suggested location should be at least somewhat based off the country. e.g. If I'm in England, the suggested placeholder input could default to London.

![Sad!](https://cloud.githubusercontent.com/assets/2412992/19713449/48253e08-9b14-11e6-8e31-ec0fb3d2e741.PNG)

[2016-10-26 14:05] danhannigan commented on #57
I can do a PR for sure, but I'll try to adjust the angles first. I think I'm seeing what you're seeing

[2016-10-26 15:09] JulianNorton commented on #6
Status of issue is unresolved, needs to be merged with development branch.

[2016-10-26 16:12] JulianNorton commented on #57
thanks @danhannigan

[2016-10-26 16:12] #57 closed

[2016-10-26 16:13] JulianNorton commented on #57
![oct-26-2016 12-08-10](https://cloud.githubusercontent.com/assets/2412992/19734456/a051fd30-9b75-11e6-9135-24f25d964cd4.gif)

[2016-10-26 17:35] JulianNorton commented on #11
[code]

[code]

[2016-10-26 17:36] JulianNorton commented on #11
cc @eliash91

[2016-10-27 15:05] eliashussary commented on #11
@JulianNorton any idea on what the request was?

[2016-10-27 15:22] JulianNorton commented on #11
@eliash91
URLs that triggered 4 errors in the last 3 days:
- http://wxkb.io/30339 (happened twice)
- http://wxkb.io/13775
- http://wxkb.io

![screen shot 2016-10-27 at 11 16 42 am](https://cloud.githubusercontent.com/assets/2412992/19773400/65a6e21e-9c37-11e6-814c-c8bc1f556d8c.png)
![screen shot 2016-10-27 at 11 19 45 am](https://cloud.githubusercontent.com/assets/2412992/19773398/65a23f3e-9c37-11

[2016-10-27 15:24] eliashussary commented on #11
@JulianNorton thanks, i'll have a look.

[2016-10-27 20:33] JulianNorton commented on #58
- http://peek.usertesting.com/result/57754335208622?autoplay=true
- http://peek.usertesting.com/result/54254335665640?autoplay=true
- http://peek.usertesting.com/result/10254552508525?autoplay=true

User tests of people specifically trying to see the next few days weather.

Related to (closed) PR: https://github.com/JulianNorton/weather-10kb/pull/71

[2016-10-28 15:40] JulianNorton opened #104 "Improve upon wind speed text"
The wind speed words are too close together. It is confusing to see 'breeze' for 3mph and also for 30mph. Recommend adding more wind descriptive words.

### Purposed:
1 . No wind (calm?)
2. light breeze (4–7mph)
3. Breeze (7–12mph)
4. wind (12mph – 25mph)
5. high wind (25–38mph)
6. gale (etc…)
7. strong gale
8. storm
9. violent storm
10. hurricane force

* https://en.wikipedia.org/wiki/Beaufort_sc

[2016-10-28 17:41] satiewaltz commented on #104
I'll work on this, will move the logic to a switch case if possible.

[2016-10-28 17:43] devcer commented on #101
Can I work on this?

[2016-10-28 17:44] JulianNorton commented on #101
Go for it @viswanathamsantosh!

[2016-10-28 18:14] arpit1997 commented on #104
Well I can work on this issue @JulianNorton :smiley_cat: But this seems like a very trivial issue. If i am understanding it correctly then creating a json object for wind speed text, getting the values and putting it in a switch case will do the work for this issue. :small_airplane:
Ping me if i am incorrect.
Thank you. :smile_cat:

[2016-10-28 18:44] devcer commented on #101
Hi @JulianNorton , This is my first node project. Can you help me in doing this?
I can get the city and country using GET "http://ipinfo.io" and the response will have city and country.I can set the placeholder using document.getElementById("change-location").placeholder=response.city+','+response.country
Can you help me how can I do this? would be a great learning for me.

[2016-10-28 19:30] JulianNorton commented on #104
You're right @arpit1997, it is one of the smaller issues. Would love your help on https://github.com/JulianNorton/weather-10kb/issues/58 !

[2016-10-28 19:33] JulianNorton commented on #101
I'm on mobile now and can talk more in detail tomorrow, so please excuse my brevity. Basically It can use the same geocode ip call to set the time zone and forecast.

https://github.com/JulianNorton/weather-10kb/blob/development/weather10kb.js#L146

It already has the country data from the IP forecast lookup, you can use it in the placeholder too.

[2016-10-28 19:47] arpit1997 commented on #104
Oh ..cool Thank you for your appreciation. I guess it is just a hacktoberfest thing to help people understand codes with smaller issues and build communities. I would love to help in the issue #58 . But i can not implement it although giving logical help and other i can do because i know very little js and node of course so.
other than that i thank you for your appreciation. :smile: :cherries:

[2016-10-28 22:26] satiewaltz commented on #104
Never tired EJS before, I'm more familiar with using ERB in Ruby/Rails.
Glad I took a look at this! (Doesn't feel different at all syntactically.)

[2016-10-29 07:58] Tardog commented on #93
This took me longer than anticipated (for RL reasons). Apologies.
I’m looking forward to hearing your thoughts on this: #106

[2016-10-29 15:36] #104 closed

[2016-10-29 15:37] JulianNorton commented on #93
thank you @Tardog! Merged in. Looks a lot cleaner.

[2016-10-29 15:37] #93 closed

[2016-10-29 15:53] #68 closed

[2016-10-30 01:09] JulianNorton commented on #101
@viswanathamsantosh still interested in doing this?

I have some of the work done here: https://github.com/JulianNorton/weather-10kb/commit/d10a633a5c59d6043523bf4edf874c4b01176318 on this branch: https://github.com/JulianNorton/weather-10kb/tree/161029-dynamic-placeholder

[2016-10-30 19:20] #67 closed

[2016-10-31 17:41] JulianNorton commented on #14
DNS providers that support ssl/cname workaround is too complicated.

Coudfront was basically a hack to get around heroku's free tier not providing IPs, and wanting a bare domain.

**I'm going to table this for now as too high effort.** Attempting workarounds for being cheap is going to overcomplicate and break things.

Heroku's free tier works well for now, and I'm not willing to pay $7 a month to

[2016-10-31 17:43] #14 closed

[2016-10-31 20:55] kazoni commented on #97
I'd say it's an issue with DarkSky still sending out the alert as part of the JSON response after it's expired.  I wonder if they cache it for a set amount of time so they aren't constantly banging away at weather.gov.

As far as the wxkb code is concerned, it's just displaying what it's parsing from DarkSky.  It doesn't do any checks to see if [current time] is after [expiration time].

[2016-11-01 15:20] ghost commented on #97
Hi there! I'm one of the founders of Dark Sky, and the guy who wrote the Dark Sky module for ingesting NWS alerts. It looks like @JulianNorton just pasted my email to him above. I'm just adding myself to this thread for notifications in case further details are uncovered. :heart:

[2016-11-01 15:55] kazoni commented on #97
Ok, I now shift my blame to NWS :)

[2016-11-07 13:25] eliashussary commented on #11
@JulianNorton this should be fixed in dark-sky v1.0.10.

[2016-11-07 23:37] JulianNorton commented on #11
Great! I've updated the package. Also changed from Node 5 to Node 6.9.x

[2016-11-07 23:37] #11 closed

[2016-11-08 00:52] JulianNorton commented on #101
https://github.com/JulianNorton/weather-10kb/pull/110

[2016-11-08 00:54] #101 closed

[2016-11-09 21:10] JulianNorton commented on #15
Improved with last commit

![screen shot 2016-11-09 at 4 10 15 pm](https://cloud.githubusercontent.com/assets/2412992/20154783/036b09c6-a697-11e6-8bf9-23f64e760214.png)

[2016-11-09 21:10] #15 closed

[2017-01-02 01:42] JulianNorton commented on #14
@Tardog @brentdax
**tl;dr https working!**

![screen shot 2017-01-01 at 8 29 52 pm](https://cloud.githubusercontent.com/assets/2412992/21583913/61cc01ce-d062-11e6-87c9-3dbd9e9d9721.png)

I've switched running wxkb.io on heroku's free server hours (which ran out) to my digital ocean server.

[2017-01-03 19:20] #62 closed

[2017-01-24 17:47] ghost opened #113 "Investigate why updated time does not correspond with local time"
**Issue**:
In the Now section of the weather report is a short bit of text which reads "(updated: {time})". This text lets the user know when the weather report was generated. Unfortunately, the time only appears to represent Eastern Time instead of the user's local time.

For example, when viewing the weather in San Francisco this morning, the webpage claims that the weather report is from the fu

[2017-01-24 19:08] JulianNorton commented on #113
Thanks @charlesmagnuson for reporting, could you tell me if this was the default home URL or a specified location?

e.g. wxkb.io or wxkb.io/san-fran ?

![screen shot 2017-01-24 at 2 07 38 pm](https://cloud.githubusercontent.com/assets/2412992/22262330/84e23000-e23e-11e6-9658-0ca762fcadaa.png)
![screen shot 2017-01-24 at 2 07 45 pm](https://cloud.githubusercontent.com/assets/2412992/22262331/84e5d3

[2017-01-24 19:11] JulianNorton commented on #113
Not sure if related, but server was on Eastern Time but I've just now switched it to UTC.

[2017-01-24 19:19] Tardog commented on #113
While I’m not the author of the issue, I would like to confirm that changing the server time zone to UTC seems to have fixed the time displayed on the website for me. It now correctly displays my local time, was Eastern before.

[2017-01-24 20:18] ghost commented on #113
Sorry for the slow reply! Just got back from lunch.

It appears the updated time now displays correctly on my end. Thank you very much for looking into the situation. To close the loop on your question, I was viewing wxkb.io directly with no specified location.

[2017-02-07 21:50] JulianNorton opened #114 "Resolve identical alert content"
![screen shot 2017-02-07 at 4 46 24 pm](https://cloud.githubusercontent.com/assets/2412992/22713162/54a2bc44-ed55-11e6-9398-785dd2b3d445.png)

A. https://alerts.weather.gov/cap/wwacapget.php?x=NY12583E090B98.WinterStormWatch.12583E27FCB0NY.OKXWSWOKX.4a9dc0ee1817b1bfb9566403c2ccc4c2

![screen shot 2017-02-07 at 4 49 18 pm](https://cloud.githubusercontent.com/assets/2412992/22713192/66b463ec-ed55-11

[2017-02-15 00:31] JulianNorton opened #115 "read https://opensource.guide/"
https://opensource.guide/

[2017-02-15 18:21] JulianNorton commented on #113
Myself and @modelm are having this issue again.

Server time is still correctly UTC.
Needs investigation:
* https://github.com/JulianNorton/weather-10kb/blob/development/weather10kb.js#L81
* https://developers.google.com/maps/documentation/timezone/intro
* https://github.com/JulianNorton/weather-10kb/blob/development/package.json#L23

[2017-02-15 18:30] JulianNorton commented on #113
I restarted the node process and it seemed to fix it. I'm baffled.

1. Wrong time.
2. `forever stopall`
3. `[secret key pairs… ] forever start index.js`
4. Right time.

error logs:
[code]

[2017-02-16 17:55] JulianNorton commented on #113
This issue has re-surfaced.

Restarting the node process didn't resolve the time difference. Error logs didn't seem to provide any additional info.

[2017-02-25 20:37] Tardog commented on #113
Do you still experience this issue? I see the correct local time on both the production site and my local version.

[2017-02-26 16:01] JulianNorton commented on #113
@Tardog It resolved on it's own! What worries me is that I don't know why it happened. Closing for now and hope it was a temporary problem.

[2017-03-10 21:04] JulianNorton commented on #97
Reaffirming this issue.

[2017-03-10 21:04] JulianNorton commented on #97
<img width="726" alt="screen shot 2017-03-10 at 3 04 10 pm" src="https://cloud.githubusercontent.com/assets/2412992/23813091/dc95c94c-05a2-11e7-9fd9-971dc0e8eee7.png">

[2017-03-10 21:11] ghost commented on #97
Am I missing something? Saturday March 11th is tomorrow?

[2017-03-10 21:13] #115 closed

[2017-03-10 21:13] JulianNorton commented on #97
@ironwallaby The alert is trying to communicate that it expires tomorrow (March 11th).

[2017-03-10 21:16] ghost commented on #97
Yes, isn't that normal? (E.g. the alert isn't expired yet, so it's safe to show?)

[2017-03-10 21:18] JulianNorton commented on #97
I think this upload failed earlier:
<img width="936" alt="screen shot 2017-03-10 at 3 04 21 pm" src="https://cloud.githubusercontent.com/assets/2412992/23813488/c3417a3e-05a4-11e7-8ae6-28aa57ef8146.png">
One of the alerts, when clicked on, has no information and says it has *already* expired. Thank you for helping me clarify!

[2017-03-10 21:20] ghost commented on #97
Ah, gotcha! Yeah, I didn't see that one.

Interestingly, when I go to the URL indicated, both of the links return good data:

![screen shot 2017-03-10 at 4 20 01 pm](https://cloud.githubusercontent.com/assets/411778/23813565/715b4930-05ad-11e7-9ec5-a2f75635aada.png)
![screen shot 2017-03-10 at 4 20 09 pm](https://cloud.githubusercontent.com/assets/411778/23813568/729ec290-05ad-11e7-8a80-791609db69

[2017-03-10 21:24] JulianNorton commented on #97
@ironwallaby I think you're right. I suspect NWS sent out the alert and updated it. I get the correct alert now. There appears to be a small gap between when Weather.gov removes an alert and when Dark Sky serves it.

My hash ends in `30c12` and yours ends in `03d6`.

[2017-03-10 21:30] ghost commented on #97
Ah! Good call, I think that's it.

Our backend polls the source on a loop, so we may be a couple minutes out of date in the worst case. I can shorten the timer in order to improve that; I'll make a note to do so next week. (We have a policy against deploying at the end of the day on Friday!) Note that this'll make the issue rarer, but cannot eliminate it entirely!

[2017-03-11 05:05] JulianNorton commented on #13
This isn't in scope at the moment. Would consider in the future.

[2017-03-11 05:05] #13 closed

[2017-03-11 05:14] JulianNorton opened #116 "Evaluate feasibility of replacing Google Maps Geocoding API"
Weather-10kb uses the browser's IP address as an approximate location when location isn't explicitly provided. The API also allows you to convert geographic coordinates into an address (reverse geocoding). **As a developer, I want decrease closed-source dependabilities, so weather-10kb will be easier to set-up, understand, and deploy.**

## Why replace?
1. It's an additional set-up hurdle for deve

[2017-03-13 18:03] ghost commented on #97
OK, barring server issues on the remote side, NWS alerts can now be a maximum of 2 minutes out of date (rather than 5 minutes out of date as it was previously). This doesn't 100% fix the issue noted here—it's always possible for the alert to expire as soon as we send it!—but it should be less likely than before.

[2017-03-13 18:07] JulianNorton commented on #97
Thank you @ironwallaby! That's a great improvement. That (should) resolve this issue in a large majority of cases, if not, I'll reopen it.

[2017-03-13 18:07] #97 closed

[2017-03-13 20:46] JulianNorton commented on #54
This is an old issue that isn't well defined. Closing it now. Anyone is open to refine the animation if they wish.

[2017-03-13 20:46] #54 closed

[2017-03-13 21:16] JulianNorton commented on #6
Confirming that this is still an issue

![media-20170313](https://cloud.githubusercontent.com/assets/2412992/23875712/6817f708-0808-11e7-93c4-888e469ca0ab.png)

[2017-03-22 17:16] JulianNorton opened #120 "As a mobile user, I want to add wxkb to my homescreen, so I can quickly check the weather"
## Purposed impementation steps

1. ~~Add a web app manifest~~
1. ~~Register a service worker~~
1. Add the app install banner ?

### Resources
* https://julian.is/article/progressive-web-apps/
* https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/
* ~~[Lighthouse report_ https___wxkb.pdf](https://github.com/JulianNorton/weather-10kb/files/862258/Lighthouse.report_.

[2017-04-03 20:11] JulianNorton opened #121 "As a user, I want to see tomorrow's weather, so I can plan more than 24 hours in advance"
## Expected behavior and actual behavior

Right now tomorrow's weather only shows if it's within 6 hours.

https://github.com/JulianNorton/weather-10kb/blob/3cd765dba78241cf008da705ddf7363039e6e333/views/partials/daily.ejs#L28

We should always show at least the summary of tomorrow's weather.

[2017-04-04 18:54] JulianNorton opened #122 "Today's weather isn't relevant"
Today is an overview for the day, but it incorrectly takes the past into account.

For example:
<img width="704" alt="screen shot 2017-04-04 at 2 52 35 pm" src="https://cloud.githubusercontent.com/assets/2412992/24673459/6c8ff0d4-1946-11e7-88f2-be98bf33e53e.png">
"Rain in the morning" is no longer relevant.

[2017-04-18 15:06] Polidoro commented on #116
I've seen [MapZen](https://mapzen.com/) used successfully for this kind of geocoding/reverse geocoding. Might be a good fit, since they're open source, free, and robust enough to meet the app's requirements.

I'll do some digging on what the switch-over process would look like.

[2017-04-18 15:22] Polidoro commented on #116
Do you also want to get rid of the Google Timezone API?

[2017-04-22 15:36] JulianNorton commented on #121
Resolved by https://github.com/JulianNorton/weather-10kb/pull/123

[2017-04-22 15:36] #121 closed

[2017-04-27 15:39] JulianNorton opened #125 "As a user, I want identical information to be condensed, so I can focus on relevant weather data"
![2017-04-27](https://cloud.githubusercontent.com/assets/2412992/25491488/1f76ab94-2b3e-11e7-848d-bb4737541fb8.png)

[2017-04-27 15:47] JulianNorton opened #126 "Refactor setting buttons to improve accessibility"
For reference: https://inclusive-components.design/toggle-button/

[2017-04-27 16:02] Polidoro commented on #125
What parameters are used to determine if two hours are identical and should be condensed?

Also, can you give an example of how you want them condensed (Text only is fine).

[2017-04-27 16:42] JulianNorton commented on #125
Here are three ways, I prefer `1&mdash;2pm`

1–2pm

![screen shot 2017-04-27 at 12 39 36 pm](https://cloud.githubusercontent.com/assets/2412992/25494158/b360655e-2b46-11e7-9adb-6da45422e9ab.png)

![screen shot 2017-04-27 at 12 39 20 pm](https://cloud.githubusercontent.com/assets/2412992/25494160/b36c9900-2b46-11e7-9929-d960569faf5b.png)
![screen shot 2017-04-27 at 12 39 02 pm](https://cloud.github

[2017-04-29 16:42] Polidoro commented on #125
After further inspection, checking the weather summary (ie. "Mostly Cloudy with a 5 mph breeze") to condense hours is a little tricky, since that content is calculated in summary.ejs and we don't want to duplicate that logic in the conditional statement that decides whether or not to merge hours.

I think the best approach would be to calculate that summary first, then make the comparison, then pa

[2017-05-04 17:04] JulianNorton opened #129 "Improve SEO meta description and page title"
https://monkeytest.it/test/d0fe490d-53f2-4325-a4e4-d5c6910aebdd

[2017-05-05 19:52] JulianNorton commented on #114
<img width="756" alt="screen shot 2017-05-05 at 3 52 12 pm" src="https://cloud.githubusercontent.com/assets/2412992/25761980/d9bdf80a-31aa-11e7-97a3-bdc77eefb88e.png">

[2017-05-06 18:03] JulianNorton commented on #129
https://github.com/JulianNorton/weather-10kb/commit/89503d177d41e9de5a8cf0a8ca588c18038ec157#diff-7be73050c9edbc091704884ccc4fcd07

[2017-05-06 18:03] #129 closed

[2017-05-11 17:10] JulianNorton opened #130 "Update external link html"
https://twitter.com/marcysutton/status/862712144545988608

[2017-05-13 14:11] Tardog commented on #114
I will give this a go. However, this is difficult to reproduce. On your next encounter with duplicate alerts, can you please add a  `console.log(args.params.alerts)` in weather10kb.js, right before `return response.render('pages/index', args);`, and post the result here?

This request goes to everyone else who wants to help debugging this issue, too. Weather alert duplicates never seem to pop up i

[2017-05-13 15:03] JulianNorton commented on #114
yay @Tardog!
https://wxkb.io/woodruff%20arkansas
I think this happens when the location pulls alerts from nearby areas. I'm working on getting you the console log on production.

[2017-05-13 15:12] JulianNorton commented on #114
https://github.com/JulianNorton/weather-10kb/commit/4bde7def41315ed3d2ea7a4298c97c7ece526da6

@Tardog I don't see any console logs, is it because it's in the country code function?

[2017-05-13 16:55] Tardog commented on #114
Sorry, my bad – it’s in `args.alerts`, not `args.params`.

Pointing me to a location that currently has duplicate alerts was exactly what I needed. I was able to log the output on my local instance of the app.

These are the current alerts for Woodruff, Arkansas, as returned by the Dark Sky API.

Note how alerts number 3 and 4 may look identical in the summary as presented by the app, but in reali

[2017-05-15 15:50] Tardog commented on #114
Since similar alerts from the same area are not consolidated by Dark Sky, this is technically not a bug on our side – all of these warnings are different and apply to the user’s region, so it’s not wrong to display them all. I think we should focus on improving the presentation on the front end side.

What I have in mind is a general alert with a consolidated list of warning types and a link to a

[2017-05-15 17:22] Tardog opened #131 "Upgrade to Node 7.x"
According to https://devcenter.heroku.com/articles/nodejs-support Heroku supports the latest stable Node.js version. I suggest updating the app and incorporate more modern language features from ES6 and ES7 to clean up the code.

[2017-05-15 20:30] JulianNorton commented on #131
I've since switched away from Heroku's free tier and am hosting wxkb on a Digital Ocean droplet.
* Linux xenial-512mb-nyc3 4.4.0-47-generic #68-Ubuntu SMP

No reservations from upgrading to es7, though it may introduce some bugs.

[2017-05-15 20:35] JulianNorton commented on #114
I'm wondering if this is really not a bug. For example, for https://wxkb.io/10025 I have identical wind advisories, however it is giving me New Jersey too with identical alert messages:

...Strong Winds into the Early Evening...
Northwest winds of 15 to 25 MPH with gusts up to 45 MPH can be
expected into the early evening. The strong winds may blow down
limbs and small trees, and make the driving

[2017-05-16 17:03] Tardog commented on #114
Now that I have time to look into it, the alerts from your earlier comment are already expired. I was never able to reproduce this in my own region. Maybe Dark Sky doesn’t even show warnings for European countries.

Can you copy the alert content in here instead of posting the links next time you encounter duplicates? weather.gov seems to take them down immediately after expiration.

No matter how

[2017-05-16 17:08] Tardog commented on #131
Great! I will start working on this. Do you mind if I add unit tests and possibly integration testing to the app before upgrading? With a good testing base, detecting if stuff was broken during the refactoring and fixing it is going to be much easier.

[2017-05-16 18:38] JulianNorton commented on #131
I would love if testing were added, that's a great addition. Go for it!

[2017-05-16 18:42] JulianNorton commented on #114
I agree it's an upstream bug, but think it's something we can still address. You may not have alerts because DarkSky is just an aggregator for other weather APIs, specifically I believe they use https://forecast-v3.weather.gov/documentation for the USA. I'm not sure where they get their other country's weather data.

Next time I see identical alerts I'll copy all the info and put it here!

[2017-05-16 18:47] JulianNorton commented on #125
hooray! Pushed live. Thank you :)

https://github.com/JulianNorton/weather-10kb/pull/132#pullrequestreview-38477977

[2017-05-16 18:47] #125 closed

[2017-05-16 19:04] JulianNorton opened #133 "Set up Continuous Integration"
wxkb should automatically update with pull requests to the branch. Perhaps it could also include passing unit tests? (cc @Tardog ). I've used circleci.com in the past, or this could be a [github webhook](https://developer.github.com/webhooks/) directly to the server …

[2017-05-18 17:36] JulianNorton commented on #114
I'll emailed @ironwallaby (Dark Sky API) too.

Here's my location getting alerts for New Jersey and New York.

![screen shot 2017-05-18 at 12 12 37 pm](https://cloud.githubusercontent.com/assets/2412992/26215403/316c31de-3bce-11e7-8c7c-878c6fe9543d.png)
![screen shot 2017-05-18 at 12 12 23 pm](https://cloud.githubusercontent.com/assets/2412992/26215404/31719b9c-3bce-11e7-9e4e-1f6ef8d83e06.png)

<i

[2017-05-18 18:18] ghost commented on #114
(FYI, just noticed this thread! The duplicate alerts issue [should be fixed](http://status.darksky.net/2017/05/12/bug-fixes-current-conditions-alerts.html) as of a few days ago, and we started on the code to fix the adjacent county alerts—at least in most cases—just yesterday, though since it's lower priority than a lot of our other tasks, I can't promise an ETA yet!)

[2017-05-18 18:26] JulianNorton commented on #114
Excellent, thank you @ironwallaby ! I'll close this as the root cause has been resolved. @Tardog for improving our own alert design, I think that should be a new issue.

[2017-05-18 18:26] #114 closed

[2017-05-19 15:32] Tardog opened #134 "Improve presentation of weather warnings/alerts"
Currently, weather alerts are displayed a a simple box above the forecast, displaying the title, and a cut-off summary of the full warning.

![current-alert](https://cloud.githubusercontent.com/assets/22562624/26254721/ddbbd356-3cb7-11e7-88fa-27b009742927.png)

**The current presentation could be improved in various ways:**

- Improve visibility (alerts have the same background and text colour as

[2017-05-19 15:34] Tardog commented on #131
I think writing tests should be a separate issue, and it should be solved before performing the Node upgrade and refactoring to ES7.

[2017-05-19 16:15] JulianNorton commented on #134
Great, thanks for making this! I can mock-up some different designs for critique.

[2017-05-19 17:03] JulianNorton opened #135 "Design and implement unit tests"
### What?
Unit tests should allow us to catch site breaking changes before they're published on production. That means merging and deploying will be faster and  less stressful. Ideally tests should run with any pull-request.

### Why?
https://stackoverflow.com/questions/67299/is-unit-testing-worth-the-effort#67500

### Here's a some ideas for possible unit tests:
1. Can the site determine an IP ad

[2017-05-19 17:04] JulianNorton commented on #131
https://github.com/JulianNorton/weather-10kb/issues/135 new unit test issue!

[2017-05-20 16:30] Tardog commented on #134
Sure, go ahead!

[2017-05-21 16:46] JulianNorton commented on #126
https://inclusive-components.design/menus-menu-buttons/

[2017-05-21 23:56] JulianNorton commented on #130
need to add "title="Link opens in a new window" and a visual icon

[2017-05-21 23:58] JulianNorton commented on #130
https://stackoverflow.com/questions/1899772/new-window-icon-for-web-accessibility#9864855

[2017-05-22 00:13] JulianNorton commented on #130
&#x1F5D7;

[2017-05-22 00:13] JulianNorton commented on #130
`&#x1F5D7;`

[2017-05-22 14:35] JulianNorton commented on #135
## free for us (open source)
* https://github.com/marketplace/travis-ci
* https://github.com/marketplace/circleci
* https://github.com/marketplace/codecov
* https://github.com/marketplace/codacy

[2017-05-22 19:23] JulianNorton commented on #134
## [Alert box mockup codepen](https://codepen.io/JulianNorton/full/dWwRXv/)
_(Ignore the mark-up)_

Here's a card-header / card content version. If there are a bunch of alerts, it'll still push the content down, but this will reduce the amount of vertical space from the previous version.

Does this address the concerns you brought up? If so, I would need to refactor a bit of the CSS to include the

[2017-05-25 04:21] Tardog commented on #134
Yes, that’s what I had in mind. I’m fine with multiple alerts taking up a bit of vertical space, just not as much as in the current version.

For further emphasis and visual consistency, we could also add a matching icon (e.g. a warning sign).

[2017-05-25 04:39] Tardog commented on #135
Excellent! I’ll start working on this later this day.

[Mocha](https://mochajs.org/) gets my vote as the go-to testing framework, together with [Chai](http://chaijs.com/).

It provides coverage reports as well. We are going to need integration tests in addition to unit tests (some of the cases you listed describe the integration of several units).

[2017-05-25 17:36] loctn commented on #131
@Tardog any progress on refactoring? Hesitant to touch the backend while this work is being done.

[2017-05-25 20:24] JulianNorton commented on #134
I'll work on the refactoring the cards and alert styling on Sunday!

[2017-05-26 04:39] Tardog commented on #131
@loctn I’m currently moving some code around while working on #135, breaking up files with multiple classes into modules and separating routes from business logic. Depending on what you are planning to change, it might be better to wait until the test suite is finished.

[2017-05-26 05:00] loctn commented on #131
@Tardog got it, I'll await your efforts before I touch the Node stuff 😄.

[2017-05-26 17:37] JulianNorton commented on #130
<img width="637" alt="screen shot 2017-05-26 at 1 37 26 pm" src="https://cloud.githubusercontent.com/assets/2412992/26505895/7c40751c-4218-11e7-9c50-5553be415976.png">

on production!

[2017-05-26 17:37] JulianNorton commented on #130
thanks to @loctn

[2017-05-26 17:37] #130 closed

[2017-05-27 16:41] JulianNorton commented on #134
https://github.com/JulianNorton/weather-10kb/pull/137

[2017-05-28 08:21] Tardog commented on #135
After some fiddling around and rummaging through the code, I don’t see a good way to implement clean unit testing due to a lot of hard-coded dependencies. Adding a dependency injection container would remedy this, but for that I would like have the refactoring with the new language features after the Node upgrade.

I suggest skipping unit tests for the time being and focus on integration testing.

[2017-05-28 17:28] loctn commented on #135
@Tardog I'm willing to take a shot at the ES6 refactor pretty soon. I'd shoot for neatening up the existing code and testing functions as they are factored out, to make sure stuff doesn't break for existing users. Then we can have a discussion about overall code architecture for future maintainability, which would be another refactor stage or an ongoing process. Let me know!

[2017-05-29 20:17] JulianNorton commented on #135
@Tardog do you have anything you want to PR for now? Recommend upgrading / refactoring codebase for upgrading node, @loctn, then we can revisit the unit tests?

https://github.com/JulianNorton/weather-10kb/issues/131 for the upgrade

[2017-05-29 20:51] #134 closed

[2017-05-29 21:11] loctn commented on #135
@JulianNorton I think the backend is small enough to do both in one go. I'd be happy to take care of it if you are busy, @Tardog.

[2017-05-30 05:05] Tardog commented on #135
@JulianNorton I will finish the remaining tests today, but that will be in the evening (it’s early morning right now for me). As an alternative, I’m willing to submit a PR with the work I’ve done so far, so that @loctn can start working on the backend.

[2017-05-30 06:20] loctn commented on #135
@Tardog I'm asleep most of that time (night here), so feel free to finish up. If you don't finish then I can take over 😄.

[2017-05-30 14:21] JulianNorton commented on #131
http://blog.npmjs.org/post/161081169345/v500

npm released 5.0

[2017-05-30 19:49] Tardog commented on #135
What I’ve got so far has now been pushed to a feature branch. The integration test suite covers most of the above cases. Lynx and accessibility checks are still missing, however, due to time constraints.

I’m not sure how to best add reliable testing for Lynx – wouldn’t that require the browser to be installed on the testing system? Or is there a web service we could use? What are the requirements

[2017-05-30 21:51] JulianNorton commented on #135
**This is great, thanks @Tardog!**

## Size failure
I think it's failing as over 10kb because of GZIP compression. As a normal text file, it is indeed 14kb. A temporary solution can be to make the test fail at ~20kb?

![screen shot 2017-05-30 at 5 26 11 pm](https://cloud.githubusercontent.com/assets/2412992/26605736/21f6dcf2-455d-11e7-8b5e-ce112e00577c.png)

## Performance
Page size is just a prox

[2017-05-30 21:56] JulianNorton commented on #135
Also, @Tardog do you feel you want to merge? Based on the scope of the issue you did design unit tests. 😄
Future tests can have separate issues? I'm afraid this specific issue will be too long. However you want to do it is fine with me.

[2017-05-30 23:48] loctn commented on #135
@Tardog @JulianNorton let's merge this work, and I can build off of this. @Tardog I can finish up the tests, much thanks for the foundation that you've laid out.

As for DOM testing, if we later move to a component-based frontend (React), we would be able to test individual components/utilities without having to explicitly test DOM interaction. We can talk about all that later. For now I'm going t

[2017-05-31 00:10] JulianNorton commented on #135
https://github.com/JulianNorton/weather-10kb/pull/138#pullrequestreview-41106414 merged onto production @loctn . @Tardog I'll let you decide to close this issue and create different issues or leave it open to consolidate.

[2017-05-31 04:50] Tardog commented on #135
Sorry for the late response. I went to bed after posting my last response. No objections about merging. I agree that the remaining tests should better be handled in separate issues, especially given their complexity. We should talk about this in more detail. I will open a new issue for accessibility testing.

Closing this for now.

[2017-05-31 04:50] #135 closed

[2017-05-31 10:04] loctn commented on #131
I left some remarks in #139, and this should be closed pending review.

[2017-05-31 18:01] JulianNorton opened #140 "Update project documentation for how to run unit tests"
We have working unit tests thanks to @Tardog.  The wiki needs to be updated to help developers understand and use them

https://github.com/JulianNorton/weather-10kb/wiki

`DARK_SKY_API_KEY=************ GOOGLE_API_KEY=************ ./node_modules/.bin/mocha`

[2017-05-31 18:05] #131 closed

[2017-05-31 18:22] loctn commented on #140
[Done](https://github.com/JulianNorton/weather-10kb/wiki/Testing).

[2017-05-31 18:26] #140 closed

[2017-06-03 17:21] JulianNorton opened #142 "Resolve unit test script mocha error"
## What's the current situation?
Unit test documentation is not working. Tried `npm test` and it says `mocha: not found`. Tried doing `sudo npm install` and still the same result.

## What do you recommend?

Update the documentation with any troubleshooting solutions: https://github.com/JulianNorton/weather-10kb/wiki/Unt-Tests

[2017-06-03 17:24] JulianNorton opened #143 "Set up circleCI auto testing on pull-requests"
## What's the current situation?
I set up a circleCI integration but it's not working.
![capture](https://cloud.githubusercontent.com/assets/2412992/26755660/e4b82eda-485f-11e7-9116-3485e8ec7b41.PNG)

## What do you recommend?
Someone who has circleCI experience google hangouts with me and help me fill the correc info.

[2017-06-04 02:17] JulianNorton commented on #142
https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04 fixed it along with deleting node modules and reinstalling thanks to @loctn.

[2017-06-04 02:17] #142 closed

[2017-06-04 04:57] loctn commented on #142
Awesome, glad this worked! 😄

[2017-06-04 11:52] Tardog commented on #143
I don’t have experience with circleCI, but – surely it can show you a build log with more details? That might give us a clue why the build is failing.

[2017-06-04 13:41] JulianNorton commented on #143
Thanks for reminding me, should have included the link!
https://circleci.com/gh/JulianNorton/weather-10kb/7

### Expand the `npm install` tab.
* `EPEERINVALID`
* Peer dependencies are not satisfied? I'm not sure if it's a problem with [package.json](https://github.com/JulianNorton/weather-10kb/blob/157642e959fd88ae0c82389a2692f64a7ab74f97/package.json) or just how I set up CircleCI.

[2017-06-05 09:03] Tardog commented on #143
It’s an issue with newer versions of npm. eslint-plugin-import has to be required in package.json – try that, and I’m sure it’s going to work.

I can also see other deprecation warnings in that log. Time to update our dependencies! But for the scope of this issue, adding the missing peer dependency should be enough.

[2017-06-05 09:14] Tardog opened #146 "Add automated accessibility testing"
Browser accessibility check should run automatically as part of the build process, e.g. during integration testing.

[2017-06-10 20:04] JulianNorton commented on #143
I'm trying to use circleCI 2.0.

### Working Demo
* https://github.com/CircleCI-Public/circleci-demo-javascript-express/blob/master/.circleci/config.yml

### 2.0 Documentation
* https://circleci.com/docs/2.0/language-javascript/

## Our config file:

* https://github.com/JulianNorton/weather-10kb/blob/master/.circleci/config.yml

[2017-06-11 09:54] Tardog commented on #143
Let’s see if we can get this working together.

Here is what I came up with after studying the documentation and fiddling around with Mocha/Istanbul: https://github.com/JulianNorton/weather-10kb/blob/feature-circle-ci-config/.circleci/config.yml

I also added nyc as a wrapper for running tests and creating coverage reports. Istanbul was already installed, but nyc does a better job at generating th

[2017-06-11 15:24] JulianNorton commented on #143
https://circleci.com/gh/JulianNorton/weather-10kb/16

[code]

[2017-06-11 15:40] Tardog commented on #143
Ah, I see. The configuration requires you to either specify at least one Docker image to use for execution, or to set machine: true on the build key. I chose to go with the former and added the missing node image. Please test again.

[2017-06-11 15:51] JulianNorton commented on #143
https://circleci.com/gh/JulianNorton/weather-10kb/19

It can test on the separate branch! It's also getting further before failing. I'll stop merging into master until it's figured out.

I think it's failing on this error

Anything you commit @Tardog will run here: https://circleci.com/gh/JulianNorton/weather-10kb/tree/feature-circle-ci-config

[2017-06-11 17:20] Tardog commented on #143
Thanks – that was incredibly helpful! We have a successful build: https://circleci.com/gh/JulianNorton/weather-10kb/26

[2017-06-11 17:26] loctn commented on #143
Awesome :).

[2017-06-11 17:30] JulianNorton commented on #143
💃 💃  👍  🎉

[2017-06-11 17:30] #143 closed

[2017-06-14 21:51] JulianNorton commented on #146
https://www.npmjs.com/package/tenon-node might work?

[2017-06-15 08:57] Tardog commented on #146
Isn’t tenon.io a paid service? They provide a 30 day free trial and "special offers" for open source projects. No idea if these special offers are free, though.

[2017-06-15 16:40] JulianNorton commented on #146
I sent Tenon an email, I can research alternatives if they're not a good fit.
https://www.w3.org/wiki/Accessibility_testing#Semi-automated_accessibility_checkers

http://www.cynthiasays.com/report.aspx?id=3618

[2017-06-15 18:46] JulianNorton commented on #146
Karl from Tenon has been kind enough to provide a complimentary API key, which we shouldn't share publicly. I have added it as an environmental variable on CircleCI so pull-requests can use it without exposing the key itself. What do you think @Tardog ?

![screen shot 2017-06-15 at 2 40 01 pm](https://user-images.githubusercontent.com/2412992/27196499-aab93184-51d8-11e7-9c94-a9891c28d0cf.png)

[2017-06-16 04:44] Tardog commented on #146
Tenon it is, then!

Of course, contributors won’t be able to run the Tenon tests locally (provided they don’t have an API key of their own, of course). In my opinion, this is not a huge issue. We still gain a lot from automatic testing, and anyone submitting a PR will get timely feedback if their changes affected the build.

The test runner could check for the presence of a TENON_API_KEY in the en

[2017-06-18 13:42] #55 closed

[2017-06-18 13:43] JulianNorton commented on #5
Closing because this isn't a high priority and I'd like to keep the issues fresh.

[2017-06-18 13:43] #5 closed

[2017-06-18 14:27] JulianNorton commented on #126
https://github.com/JulianNorton/weather-10kb/blob/2846f856f0215fd9d1ff2fd764b7b5b82717d734/views/partials/switch-units.ejs

[2017-06-18 14:27] #126 closed

[2017-06-24 17:51] JulianNorton opened #151 "Implement service worker (offline mode)"
https://labs.kollegorna.se/blog/2017/06/service-worker-gotchas/

[2017-07-16 16:18] JulianNorton opened #152 "Upgrade to latest node version"
http://hello.heroku.com/e/36622/y-july-2017-security-releases-/cqwb56/642572069

[2017-07-23 16:15] JulianNorton commented on #113
Happening again. Restarted node process and upgraded server distribution with no luck.

[2017-09-28 16:00] JulianNorton opened #153 "Upgrade Node from current version to 8+"
## What's the current situation?
* Currently weather-10kb uses an older node version.
* https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/
## What do you recommend?
The project needs to be updated to the most up to date version of node.

[2017-09-28 16:00] #152 closed

[2017-09-28 16:07] Empty2k12 commented on #153
On it.

[2017-09-28 16:09] bartw commented on #133
I can have a look at this.

[2017-09-28 16:38] AnshulMalik commented on #153
Hey, I'd like to work on this

[2017-09-28 16:49] AnshulMalik commented on #153
Version 8.5.0 of Node.js is vulnerable. 4.x and 6.x versions are NOT vulnerable.
https://nodejs.org/en/blog/vulnerability/september-2017-path-validation/

So we can still go with v6?

[2017-09-28 17:03] JulianNorton commented on #153
[code]
My understanding is that 6.x is vulnerable. If you can, please do work on this! If nothing else, we'd get other updates/fixes and allow easier upgrades in the future.

[2017-09-28 17:07] AnshulMalik commented on #153
So we need atleast 8.3

[2017-09-28 17:11] mhabegger commented on #133
Hi. I'd like to work or at least try this one.
As the project is open source, would TravisCI be fine ?

[2017-09-28 17:13] MuraraAllan commented on #153
https://nodejs.org/en/blog/release/v8.6.0/

[2017-09-28 17:14] mhabegger commented on #133
Or CicleCI ?

[2017-09-28 17:19] JulianNorton commented on #133
Thank you @mhabegger, your help is appreciated!

Currently we have a CircleCI integration for unit testing and PR checks. Using CircleCI is preferred, but you have the authority to choose whatever you think is best.

https://circleci.com/gh/JulianNorton/weather-10kb/36

[2017-09-28 17:20] #153 closed

[2017-09-28 17:24] JulianNorton opened #155 "Implement service worker for offline caching"
## What's the current situation?
Currently if the site tries to refresh without an internet connection, the page data is lost and it shows a default error page.

## What do you recommend?

https://labs.kollegorna.se/blog/2017/06/service-worker-gotchas/#registering-a-service-worker

Recommend register a service worker.

[2017-09-28 17:31] JulianNorton opened #156 "Remove opbeat from code, package, and wiki"
## What's the current situation?
Opbeat was an alerting system used for development failures. It's only been accessible to me and is no longer used.

## What do you recommend?
Remove Opbeat from the codebase and documentation.
https://github.com/JulianNorton/weather-10kb/search?utf8=%E2%9C%93&q=opbeat&type=

[2017-09-28 17:37] mhabegger commented on #133
Di you have a CI yaml file in the repo or did you configure CircleCI manually ?
I saw you deploy with digitalocean. Any plans to put it into docker too or just regular droplets ? @JulianNorton

[2017-09-28 17:39] mhabegger commented on #133
Did not see the `.circleci` folder....

[2017-09-28 17:44] devanp92 commented on #156
I can take this.

[2017-09-28 17:46] JulianNorton commented on #156
Thank you @devanp92, all you!

[2017-09-28 18:29] JulianNorton commented on #133
@Tardog created the YAML file manually.
I use a hacky digital ocean set-up with Apache & reverse proxy to piggy back off my personal website hosting (https://juliannorton.com) so I don't have to pay for two servers. If someone donated $$ I'd happily push to containerize it.

[2017-09-28 20:01] JulianNorton opened #158 "Resolve CircleCI test error"
## What's the current situation?
https://circleci.com/gh/JulianNorton/weather-10kb/39

[code]

## What do you recommend?

Determine why the test suite is failing and recommend a resolution.

[2017-09-28 20:04] #156 closed

[2017-09-28 20:04] JulianNorton commented on #156
I've removed Opbeat mentions from the wiki

[2017-09-28 21:07] AlexSwensen commented on #158
Managed to reproduce https://circleci.com/gh/AlexSwensen/weather-10kb/1
I'll tinker with it and see what I can come up with.

[2017-09-28 21:49] AlexSwensen commented on #158
@JulianNorton see #159 for my initial solution.

[2017-09-28 22:42] #151 closed

[2017-09-29 05:22] techpool commented on #155
Hey, I would like to take this up and implement service worker with the current library. Can someone please give me a basic understanding about where I should start and how to move forward?

[2017-09-29 12:48] JulianNorton commented on #155
@techpool Thank you for offering!
I recommend this google tutorial: https://codelabs.developers.google.com/codelabs/your-first-pwapp/#0

Is this what you were looking for?

[2017-09-29 19:13] JulianNorton opened #161 "Implement security headers"
## What's the current situation?
https://securityheaders.io/?q=https://wxkb.io/
Fails and shows security flaws.

## What do you recommend?
Add correct headers in head and resolve other errors like 'xss protection'.

[2017-09-29 20:31] anestv commented on #161
I think I can look into this

[2017-09-29 20:34] JulianNorton commented on #161
Thank you @anestv ! Let me know if you'd prefer splitting it out into separate issues. Any progress is appreciated.

[2017-09-29 21:35] nodox commented on #161
https://github.com/helmetjs/helmet

This will give you best protection for express apps

[2017-09-30 12:29] wildan3105 opened #162 "Make 'give feedback' link fixed at top-right"
## What's the current situation?
I know this isn't an urgent situation. But it's a bit annoying to see `give feedback link` with dinamic position as we switch the city like picture below.

![feedback](https://user-images.githubusercontent.com/7030099/31045791-9e49b7b6-a615-11e7-8f50-d952e8fb7f71.png)

## What do you recommend?
Make the postition of `give feedback link` static at top-right.

[2017-09-30 12:31] wildan3105 commented on #162
So, do you give me a shot to fix this thing? @JulianNorton

[2017-09-30 12:33] JulianNorton commented on #162
Thank you @wildan3105, please, all you!

Here's a quick edit that you might consider, giving the H1 a max-width.
![capture](https://user-images.githubusercontent.com/2412992/31045819-e3e0f2fa-a5b9-11e7-97f6-7d940040607c.JPG)

[2017-09-30 12:35] wildan3105 commented on #162
Thanks for the hint! :smile:

[2017-09-30 17:30] JulianNorton commented on #162
https://github.com/wildan3105/weather-10kb/commit/3802d426393f22bc92ce5bedb021e9c8ee508057 resolves it

[2017-09-30 17:30] #162 closed

[2017-10-01 04:32] Tardog commented on #146
I’ve got time to work on this (finally!) and plan to start later today. If anyone else has already begun work on this issue, please let me know.

[2017-10-01 13:15] #161 closed

[2017-10-01 13:20] JulianNorton commented on #161
https://securityheaders.io/?q=https://wxkb.io/
A+! :)

Thank you @anestv for the implementation and @nodox for the recommendation.

[2017-10-02 02:14] JulianNorton commented on #158
@AlexSwensen any progress? Happy to make more issues.

[2017-10-02 02:21] JulianNorton opened #166 "Reduce transfer file size of wxkb.io"
## What's the current situation?
Right now the site is transferring about 14kb. The goal is to be consistently under 10kb excluding favicon.
## What do you recommend?
* Determine if GZIP compression is enabled [Yes, it is]
* Investigate currently used compression packages https://www.npmjs.com/package/compression and the settings
* Determine when and what change caused the site to go over 10kb.
*

[2017-10-02 02:26] JulianNorton commented on #166
Gzip is enabled
[code]

[2017-10-02 03:22] nledesma commented on #122
Ok, Im watching this. Would you like to see any other information instead?

[2017-10-02 09:03] yannickvanbladel commented on #166
I don't think its a one fix issue. But i think i could get there with a couple of html/css tweaks, removing unnecessary spans, long/double class names. Examples:
[code]

[code]

I haven't contributed to open-source/public repositories before. Can i just create a pull request with the fixes i think should help? And are there any guidelines considering browser support and such?

[2017-10-02 09:22] Tardog commented on #166
I suggest re-enabling the skipped integration test for size constraints and rewriting it to check if uncompressed page size stays below a certain limit. At least then we would have a more reliable way to detect size issues like this in time.

@yannickvanbladel Thank you for taking the time to make a contribution! The preferred way is to fork the project, create a new branch for the issue you are w

[2017-10-02 15:18] JulianNorton commented on #122
Thank you @nledesma !

I'm not sure the best way to solve it. The main issue is that the daily "summary" says rain in the morning, but it's past the morning!

How would you make it better?

[2017-10-02 15:26] nledesma commented on #122
Well, I've been navigating the Dark Sky API. If you choose a summary it may retrieve information from the past. There is other daily information that might be relevant, depending on what you consider important.

You could skip the summary and retrieve other data like apparent temperature, time of high and low temperatures, humidity, etc.

Guess a mix of those statistics with some good display woul

[2017-10-02 15:30] JulianNorton commented on #122
@nledesma that sounds like a great idea. Do you have the time to create a PR? Happy to create a separate issue for implementation if you just want to write out the specifics.

[2017-10-02 15:36] nledesma commented on #122
Yeah, I think I can upload a PR later this week!

[2017-10-02 16:39] alecmatthews commented on #120
I don't know much about javascript, but I think this would be a fun issue to look into.

[2017-10-02 16:43] JulianNorton commented on #120
Thanks @alec500oo ! Let us know if you need help or get stuck. Research alone is helpful.

[2017-10-02 17:53] kendrick commented on #58
Happy Hacktoberfest! 👻 I'd love to take a run at the design of this.

[2017-10-02 17:54] JulianNorton commented on #58
Please do @kendrick! Looking forward to seeing what you come up with. I can create separate issues for implementation once we're able to discuss the designs.

[2017-10-03 20:43] JulianNorton commented on #158
Builds are passing, see https://github.com/JulianNorton/weather-10kb/pull/167 comments

[2017-10-03 20:43] #158 closed

[2017-10-03 20:49] JulianNorton commented on #146
@Tardog I just want to confirm if there's anything else to be done.

Does the PR resolve this issue? https://github.com/JulianNorton/weather-10kb/commit/1e46363bdc8c8d4cc81a4f976e7dfd6c82c9baa5

[2017-10-03 20:53] #122 closed

[2017-10-03 20:56] JulianNorton commented on #122
On production now @nledesma  :)

[2017-10-03 20:59] JulianNorton commented on #146
Just found it worked in the last PR 🏁

[2017-10-03 20:59] #146 closed

[2017-10-03 21:03] nledesma commented on #122
Cool! :)

[2017-10-04 03:41] AlexSwensen commented on #158
Awesome! glad this is solved!

[2017-10-07 13:33] JulianNorton commented on #166
Confirming that something is messed up with gzip. It used to have much better compression, more than 30%.

![screen shot 2017-10-07 at 9 31 55 am](https://user-images.githubusercontent.com/2412992/31308290-81921f28-ab42-11e7-8b43-d44ee16a766a.png)

Now it's only doing 3% compression.

[2017-10-07 13:40] JulianNorton opened #169 "Fix broken favicon path"
## What's the current situation?

The favicon images are not working.
This should be a valid path.
`https://wxkb.io/images/partly-cloudy-day/favicon.ico?v=partly-cloudy-day`

## What do you recommend?
git [bisect](https://stackoverflow.com/questions/4713088/how-to-use-git-bisect#4714297) to find out when the bug was introduced. That can help find out why it's broken
I suspect this may be an issue

[2017-10-07 13:42] JulianNorton commented on #169
![screen shot 2017-10-07 at 9 42 47 am](https://user-images.githubusercontent.com/2412992/31308368-e41bc346-ab43-11e7-9faf-cccaedf251b4.png)

[2017-10-07 15:00] guntbert opened #170 "On Unit-Tests: broken link"
## What's the current situation?
The link for "setting up your local environment " is broken
## What do you recommend?
I will submit a PR to fix it

[2017-10-07 15:09] guntbert commented on #170
I didn't see that this is a wiki :-)

[2017-10-07 15:09] #170 closed

[2017-10-07 15:52] ahhmarr commented on #169
fixed it
 #171
the static files were not serving properly

[2017-10-07 15:58] JulianNorton commented on #169
Thanks @ahhmarr for the contribution. How did you verify it's working? I'm still not able to render it.

![screen shot 2017-10-07 at 11 56 54 am](https://user-images.githubusercontent.com/2412992/31309603-b3c7fdf0-ab56-11e7-848c-248cc5533143.png)

[2017-10-07 16:00] ahhmarr commented on #169
it's working fine here
http://prntscr.com/gugabw

[2017-10-07 16:00] JulianNorton commented on #169
Interesting, let me merge it in on production to confirm.

[2017-10-07 16:03] JulianNorton commented on #169
https://wxkb.io/antartica

yeah, I'm still getting the error. Happy to jump in a discord chat to help debug

![screen shot 2017-10-07 at 12 02 08 pm](https://user-images.githubusercontent.com/2412992/31309637-5fdc0ea6-ab57-11e7-857d-d387b124a9bd.png)

[2017-10-07 16:07] ahhmarr commented on #169
that's weird
what i need to do to connect with discord (my id is ahhmarr)

[2017-10-07 16:09] JulianNorton commented on #169
https://discord.gg/57qNS7

[2017-10-07 16:24] JulianNorton commented on #169
Fixed with a server restart from @ahhmarr's PR :)

[2017-10-07 16:24] #169 closed

[2017-10-07 18:15] Tardog commented on #166
Compression looks good to me:
`curl -so /dev/null "https://wxkb.io/Berlin" -w '%{size_download}'`
14662
`curl --compressed -so /dev/null "https://wxkb.io/Berlin" -w '%{size_download}'`
4711

I get similar results in Firefox and Chromium. Transfer size is somewhere around 5 KB, depending on the location, with the uncompressed document averaging 14 KB in size.

Is that a screenshot from the Chrome d

[2017-10-07 19:04] JulianNorton commented on #166
Yeah, it's from chrome dev tools.

– Julian

On Sat, Oct 7, 2017 at 2:15 PM, Sarah Kraßnigg <notifications@github.com>
wrote:

[2017-10-08 07:31] anestv commented on #6
manifest.json isn't located inside /public, so it is not reachable

Also, icon URLs include `public/` in their path, so they aren't reachable either

[2017-10-08 13:51] JulianNorton opened #173 "wxkb.io is offline"
## What's the current situation?
The server was upgraded and rebooted.
The node process is running on the server on port 5000, however when loading the URL, the site returns a "wxkb.io refused to connect."

## What do you recommend?
Help Julian debug the linux server.

[2017-10-08 14:05] JulianNorton commented on #173
Relevant Letsencrypt Apache error?

[code]

[2017-10-08 14:29] JulianNorton commented on #173
had to recreate wxkb.io folder in `/var/www/wxkb.io` else apache wouldn't start. I deleted that folder several weeks ago by accident.

`service apache2 start`

[2017-10-08 14:29] #173 closed

[2017-10-08 22:37] anestv commented on #6
Is this considered solved now?

[2017-10-08 23:38] JulianNorton commented on #6
![image](https://user-images.githubusercontent.com/2412992/31322147-27fa1f46-ac60-11e7-84f6-b652b4364369.png)

No, it's still showing the wrong favicon. It should be showing one of these, no? https://github.com/JulianNorton/weather-10kb/blob/master/public/images/default/launcher-icon-48.png

[2017-10-08 23:50] JulianNorton commented on #120
Considering this issue available unless @alec500oo says otherwise

[2017-10-09 07:09] Tardog commented on #166
I've tried Chrome and am still unable to reproduce this issue. For me, compression seems to work as intended no matter which client I used to access the site. It could never hurt to check the code for optimizations, though.

[2017-10-09 12:09] JulianNorton commented on #166
How much is it compressing for your?

On Oct 9, 2017 3:09 AM, "Sarah Kraßnigg" <notifications@github.com> wrote:

[2017-10-09 14:52] Tardog commented on #166
Compressed document size is about 5 KB (see my comment above). I get the same results with curl, Chrome/Chromium, and Firefox. Total page size depends on the location and the current forecast, of course, but IMO that difference shouldn’t be that large.

[2017-10-09 14:54] Tardog commented on #120
I’ve had this issue on my radar for a while. @alec500oo If you don’t have the time to work on the implementation in the near future, I would like to give it a shot.

[2017-10-09 14:59] alecmatthews commented on #120
@Tardog Go for it! I would like to learn more about the project, but midterm season is coming up so I won't have much time.

[2017-10-09 15:04] JulianNorton commented on #166
That's so weird. For Berlin in chrome get 15kb, but with curl I get your results. Firefox it shows *transferring* at 5kb. Thank you @Tardog for the curl confirmation.

Closing this issue because I believe I misunderstood Chrome's page size column and all is well in the world.

<img width="1068" alt="screenshot of firefox network tab for wxkb.io" src="https://user-images.githubusercontent.com/24129

[2017-10-09 15:04] #166 closed

[2017-10-09 17:33] anestv commented on #6
For me it's working in chrome 60 for android

[2017-10-09 17:35] JulianNorton commented on #6
You're right, thanks @anestv I was conflating this issue with https://github.com/JulianNorton/weather-10kb/issues/120

[2017-10-09 23:13] JulianNorton opened #176 "Review daily weather design"
## What's the current situation?
@kendrick has generously submitted [daily card designs](https://github.com/JulianNorton/weather-10kb/pull/175
)

## What do you recommend?
Before development begins, I recommend inviting feedback from users to help improve the design. Creating a prototype and testing with https://peek.usertesting.com/ would be a free way to get eyes on it.

Specifically, I don't ye

[2017-10-09 23:19] JulianNorton commented on #58
Resolved by #175 from @kendrick 🥇

[2017-10-09 23:19] #58 closed

[2017-10-10 01:35] unycorn commented on #176
Seeing as how this is quick way to get the information, we could put it at the top and then have users scroll down in order to obtain more details. I'll work on a prototype for the top and the bottom and then some testing could be done to find which one is better.

[2017-10-10 01:44] JulianNorton commented on #176
@unycorn that sounds like a great idea, looking forward to it.

[2017-10-10 02:00] JulianNorton commented on #176
Technical perspectives should be considered as well. If we have 5 separate SVGs, that may increase the transfer size to over 10k. There may only be enough resources for 2 or 3 days on the single page.

[2017-10-10 02:29] kendrick commented on #176
Love the prototype & test approach!

I haven't spelunked enough to see if there's a concrete web perf budget for the project, but generally speaking, 5 SVGs can be relatively "cheap." As a point of reference, I have a work project with 67 icons that are bundled into an SVG spritesheet that is 54 kB. Happy to dig into the details of this if there's interest.

[2017-10-10 02:52] JulianNorton commented on #176
@kendrick Normally you'd be 100% correct. One of the core values & considerations of weather-10kb is to deliver the page in under 10kb excluding the favicon.
Originally weather-10kb was a project from: https://a-k-apart.com/

Hence the historic self-inflicting size consideration.

[2017-10-10 02:55] kendrick commented on #176
Facepalm. The perf budget is right there in the project name! 😆

On Mon, Oct 9, 2017 at 9:52 PM, Julian Norton <notifications@github.com>
wrote:

[2017-10-10 03:25] JulianNorton commented on #155
closed by @fers490 👍

[2017-10-10 03:25] #155 closed

[2017-10-10 03:28] JulianNorton commented on #120
@Tardog basic service worker has been installed https://github.com/JulianNorton/weather-10kb/pull/177

[2017-10-11 17:36] Tardog commented on #120
As far as I can see, we already have a valid manifest.json, which should satisfy all the requirements specified by Google. If I follow the steps under "Testing the app install banner" on https://developers.google.com/web/fundamentals/app-install-banners/, I can verify it works. I also get a banner asking me to add the site to my shelf (in Chrome on desktop) on recurring visits with at least five m

[2017-10-11 17:45] Tardog commented on #176
Massive props to @kendrick for the wonderful card designs! I can’t think of anything to improve them further. Looking forward to the prototype.

I also agree with the approach proposed by @unycorn – in fact, I’ve seen a lot of weather sites displaying cards for weekly forecast at the top. It’s a solid approach, and as a user, I like it a lot to have a quick overview of the next days before scrolli

[2017-10-11 18:44] JulianNorton opened #182 "Evaluate feasibility of refactoring current and future SVGs into a spritesheet"
## What's the current situation?
Right now the site will load three inline SVG to represent the weather status for now, today, and tomorrow. If we wanted a weekly weather design, the site could potentially show 6 unique icons.

## What do you recommend?

SVGs are great because they're high resolution regardless of the device. They're loaded in now as an inline-svg with styles referenced in the `<s

[2017-10-11 18:49] JulianNorton commented on #176
@Tardog regarding a sprite-sheet, I created a separate issue to discuss:

https://github.com/JulianNorton/weather-10kb/issues/182

[2017-10-11 18:59] JulianNorton commented on #120
Hooray! Thanks for confirming @Tardog

[2017-10-11 19:00] #120 closed

[2017-10-15 22:34] JulianNorton opened #184 "Change High and Low today temp to apparent temp."
## What's the current situation?

https://github.com/JulianNorton/weather-10kb/blob/master/views/partials/today.ejs#L18

High and Low are displaying the temp. min.

## What do you recommend?
How it _feels_ is most important in how someone should dress for the day. 30 deg. F with no wind is much different from 30 deg and 30 mph winds.

**Change the High and Low to apparent temperatures.**

`apparen

[2017-10-15 22:47] mdew192837 commented on #184
I'll take care of this.

[2017-10-16 00:08] JulianNorton commented on #184
Sorry @mdew192837, thank you @alfg for the PR.

@mdew192837 do you want to do the samething for https://github.com/JulianNorton/weather-10kb/blob/master/views/partials/tomorrow.ejs#L12

?

[2017-10-16 00:08] #184 closed

[2017-10-16 00:11] JulianNorton opened #186 "Change High and Low TOMORROW temp to apparent temp"
## What's the current situation?
see https://github.com/JulianNorton/weather-10kb/issues/184

## What do you recommend?

see https://github.com/JulianNorton/weather-10kb/pull/185/files

* reserved for @mdew192837 for the next 24 hours

[2017-10-16 00:11] JulianNorton commented on #184
https://github.com/JulianNorton/weather-10kb/issues/186

[2017-10-16 00:25] apravink commented on #186
I'd like to take a crack at this

[2017-10-16 00:28] JulianNorton commented on #186
@apravink wait 24 hours please, @mdew192837 missed out on a prior issue and has first pick.

[2017-10-16 20:15] JulianNorton opened #188 "Changing units does not update units on first click"
## What's the current situation?

1. Load a location: https://wxkb.io/10025
2. Click a different unit (`F°, mph` to `C°, mph`)
3. Units on page are not updated.
4. Clicking again on the button will update the values.

## What do you recommend?
Units should change and update the page on first click.

I think this is caused by `sw.js`. Recommend looking at: https://github.com/JulianNorton/weather-10

[2017-10-16 22:23] tv1ster commented on #188
I've got 403 while trying to run project locally, so i made fixes in sw-registration.js which should avoid registartion few separate window.onload listeners. Please test and inform, will it fix issue, or not

[2017-10-16 22:25] JulianNorton commented on #186
solved by @exponov! 👍

[2017-10-16 22:25] #186 closed

[2017-10-17 00:54] JulianNorton commented on #188
Thanks @tv1ster for the fix, now on production:

https://github.com/JulianNorton/weather-10kb/pull/189

If you think it could be improved, please feel free to open a new issue.

[2017-10-17 00:54] #188 closed

[2017-10-17 13:43] JulianNorton opened #190 "Uncaught SyntaxError: Block-scoped declaration"
## What's the current situation?
https://monkeytest.it reported the following error:

[code]

<img width="1084" alt="screen shot 2017-10-17 at 9 41 08 am" src="https://user-images.githubusercontent.com/2412992/31668226-933e8c2c-b31f-11e7-833d-94d44e97e311.png">

## What do you recommend?

Submit a PR to resolve the `Uncaught SyntaxError`

* https://github.com/JulianNorton/weather-10kb/blob/master/

[2017-10-17 14:30] mukulmishra18 commented on #190
I am working on it.

[2017-10-17 14:48] #190 closed

[2017-10-17 14:49] JulianNorton commented on #190
@mukulmishra18 merged and pushed to production. Thank you for your contribution! 💃

[2017-10-21 13:58] JulianNorton commented on #176
https://i.redditmedia.com/_JaalF0d6SUBAw5yiCCpxltOWJ3-4EzkmLQbtBNleoM.png?w=673&s=db5630a1714529dd69df6bc97c6a7b33

Nice design ^
I like how it makes the immediate day larger than the future.

[2017-10-21 13:58] JulianNorton commented on #176
@unycorn Were you able to make any progress on a prototype? Happy to take over if you're too busy.

[2017-10-21 14:12] JulianNorton opened #193 "Implement 3 day summary forecast"
## What's the current situation?
Add a look into what the weather will be like over the next couple of days.

Design assets
* https://github.com/JulianNorton/weather-10kb/pull/175/files
Relevant design issue:
* https://github.com/JulianNorton/weather-10kb/issues/176

## What do you recommend?
1. Using the existing CSS
2. Create on the page, or on a codepen
3. Use fake data
4. Omit today and tomorr

[2017-10-21 14:12] JulianNorton commented on #176
https://github.com/JulianNorton/weather-10kb/issues/193 Moving forward on a sample implementation

[2017-10-21 14:22] JulianNorton commented on #193
Codepen for easy modification

https://codepen.io/JulianNorton/pen/dWwRXv

[2017-10-21 14:39] JulianNorton opened #194 "Enable page size limit in test"
## What's the current situation?
We have a testing suite that runs through CircleCI, https://circleci.com/gh/JulianNorton/weather-10kb

In the past we used to have a size limit. We disabled it because it wasn't testing the compression size.

## What do you recommend?
1. View tests here: https://github.com/JulianNorton/weather-10kb/blob/master/test/integration/forecast.test.js

2. Write a new test,

[2017-10-21 17:15] mukulmishra18 commented on #194
I am working on it. Thanks.

[2017-10-21 17:24] #194 closed

[2017-10-21 17:25] JulianNorton commented on #194
Thanks @mukulmishra18 ! Merged and deployed..

[2017-10-21 17:25] JulianNorton commented on #194
cc @Tardog

[2017-10-21 17:43] Tardog commented on #193
Here is a first draft, just to have a general idea in which direction we want to go with this. The code still needs optimization, but that can be done later.

https://codepen.io/Tardog/pen/eGoZzG?editors=1100

[2017-10-21 17:48] JulianNorton commented on #193
Can you verify your Codepen email? I want to show it around.

Page View.

– Julian

On Sat, Oct 21, 2017 at 1:43 PM, Sarah Kraßnigg <notifications@github.com>
wrote:

[2017-10-22 04:56] Tardog commented on #193
Ah sorry, my bad. Done – you should be good to go now.

[2017-10-23 19:19] lucaspiller commented on #133
@mhabegger I sent a PR for adding a Dockerfile in #196, it might be useful for running this on CI.

[2017-11-09 20:19] JulianNorton opened #197 "Service worker is causing internet available page loads to not refresh data"
## What's the current situation?
https://github.com/JulianNorton/weather-10kb/blob/master/public/sw-registration.js
## What do you recommend?

Attempt a network connection to reload page before relying on cached data.

[2017-11-09 20:20] JulianNorton commented on #197
Temporarily Disabling service worker

https://github.com/JulianNorton/weather-10kb/commit/b4219f93f632fb0ff7def21344147f3e2d5e767c

[2017-12-08 00:40] CharlesStocky commented on #197
I'd like to look into this if it's still open.

[2017-12-08 02:01] JulianNorton commented on #197
Go for it! Very much appreciated. The service worker is disabled right now.

On Dec 7, 2017 7:40 PM, "Charles Stocky" <notifications@github.com> wrote:

[2018-01-06 03:38] JulianNorton commented on #182
closing to clean up the issue backlog

[2018-01-06 03:38] #182 closed

[2018-01-06 03:39] JulianNorton commented on #116
closing to clean up the issue backlog

[2018-01-06 03:39] #116 closed

[2018-01-06 03:40] JulianNorton commented on #197
Closing to clean-up issue backlog

[2018-01-06 03:40] #197 closed

[2018-01-06 03:41] JulianNorton commented on #176
Closing to clean-up issue backlog

[2018-01-06 03:41] #176 closed

[2018-01-17 13:39] JulianNorton opened #198 "Resolve Sonar report"
https://sonarwhal.com/scanner/9e0dfb6c-25b2-48c9-a5f6-41aec889f88a

[2018-01-23 01:39] modelm commented on #193
I got this started with markup/data only & I removed the images for this first pass: https://github.com/modelm/weather-10kb/tree/feature-3-day-forecast

[2018-01-24 18:59] JulianNorton opened #200 "Update CircleCI to pass tenon.io test"
## What's the current situation?
CircleCI unit testing is failing on circleCI, but passing locally.

[code]
## What do you recommend?
Update or investigate the current tenon.io in `/unit/test`

`TenonRequst.test.js`

[2018-10-25 17:43] JulianNorton opened #202 "Refactor CircleCI build settings to not fail"
## What's the current situation?

https://circleci.com/gh/JulianNorton/weather-10kb-wxkb/126

## What do you recommend?

1. remove snyk
2. edit https://github.com/JulianNorton/weather-10kb-wxkb/blob/master/.circleci/config.yml

For a PR, I will test if CircleCI successfully builds without throwing an error. Goal is to not throw errors!

[2018-10-25 22:05] gfranco93 commented on #202
If you're running Node 10 (which I think you are because of `- image: circleci/node:latest`), you must be running node-sass 4.9.
I can try to update node-sass

[2018-10-29 14:03] JulianNorton commented on #202
new error https://circleci.com/gh/JulianNorton/weather-10kb-wxkb/127

[2018-10-29 14:04] JulianNorton commented on #202
1. Forecast location should guess the user's location based on their IP address,

That was removed on the initial load.

// todo
update that test

[2018-11-26 07:53] Mursenary44 commented on #113
This issue (or a similar one) is happening again. Looks like the time is set 6hrs ahead of my current time.

![screenshot](https://user-images.githubusercontent.com/45351289/49000008-ebf75280-f11d-11e8-8eee-3fc07ac78638.png)

[2018-11-26 13:45] JulianNorton commented on #113
@Mursenary44 any recommendations? I tried restarting the service but it didn't fix it.

[2018-11-26 17:11] JulianNorton commented on #113
Doing a server reboot didn't work either.

[2018-11-26 17:46] JulianNorton commented on #113
Still an issue, we think https://github.com/JulianNorton/weather-10kb-wxkb/commit/4493546ce0e4e7d970a2fcd598af67c7b16357ca is the route to solve it. Basically google's timezone API wasn't being set/used.

https://gist.github.com/JulianNorton/5a828b5537f6dc09ed893836586286cd

[2018-11-26 18:06] JulianNorton opened #204 "Upgrade node and package versions to address security vulnerabilities."
## What's the current situation?

[code]

## What do you recommend?

[2018-11-30 23:06] JulianNorton commented on #113
Thinking about just changing it to "X hours from now". I'll submit a PR on Monday.

[2018-12-03 18:53] JulianNorton commented on #113
@Mursenary44 see https://github.com/JulianNorton/weather-10kb-wxkb/pull/206 !

[2018-12-03 20:10] #113 closed

[2019-01-07 20:37] NCPirate opened #208 "Issues Deploying to Web Server"
## What's the current situation?
I had the website running successfully on a linux web server although I had to manually start the node service if the server was rebooted or the application crashed.

I changed web hosts and running now on a linux server running Plesk Onyx. I had to move the index.js and hello-world.js from $HOME/weather-10kb/ to $HOME/weather-10kb/public in order for Node.js to fi

[2019-01-07 20:55] JulianNorton commented on #208
Thank you for bringing this up! I'm not sure how it could be deployed without `sudo`. Going to ping @modelm as they might have better advice.

[2019-01-07 21:26] NCPirate commented on #208
I apologize as I thought I had tried a fresh install on the new server, however I tried again and got it working I believe.

I did have to set the Document Root, Application Root, and change the Application Startup File to index.js via the Plesk Control Panel.

I was able to install the packages from package.json via the Plesk Control Panel. Just have to update my google api with the new address a

[2019-01-07 21:27] JulianNorton commented on #208
Good to hear, thanks for following up. Keep in touch with failures or successes! Will mark as closed for now pending any additional errors.

[2019-02-12 18:17] JulianNorton commented on #133
Cleaning up old issues

[2019-02-12 18:17] #133 closed

[2019-02-12 18:17] #193 closed

[2019-06-12 11:26] modelm opened #209 "Missing an hour in the hourly report"
## What's the current situation?

Missing an hour in the hourly report for https://wxkb.io/sacramento

## What do you recommend?

Change "in 5 hours and in 7 hours" to "in 5 hours until 7 hours"

![image](https://user-images.githubusercontent.com/330857/59347671-beae7280-8d04-11e9-9de5-371f95d8a42d.png)

[2019-06-12 13:31] JulianNorton commented on #209
https://github.com/JulianNorton/weather-10kb-wxkb/blob/df24e95897c0fe1b30ea23944db05f140a949775/views/partials/hourly.ejs#L31

[2019-06-12 13:31] JulianNorton commented on #209
https://github.com/JulianNorton/weather-10kb-wxkb/blob/master/views/partials/hourly.ejs

[2019-06-12 13:32] JulianNorton commented on #209
fixed in https://github.com/JulianNorton/weather-10kb-wxkb/commit/bc1a5c0b953393583c19f8a068693f93f6d2bf23

[2019-06-12 13:35] JulianNorton commented on #209
@modelm do you know how to remove the second "in"?

https://github.com/JulianNorton/weather-10kb-wxkb/commit/bc1a5c0b953393583c19f8a068693f93f6d2bf23

[2019-06-12 13:36] JulianNorton commented on #209
![Screen Shot 2019-06-12 at 9 35 43 AM](https://user-images.githubusercontent.com/2412992/59355708-7d629680-8cf5-11e9-9cba-1d2e82d78aa5.png)

it's pulling from the same partial

[2019-06-12 13:41] modelm commented on #209
That's coming from `hourlyTime.fromNow()` - one way would be something like `hourlyTime.fromNow().replace(/in /, '')`

[2019-07-21 21:09] JulianNorton commented on #202
Going to close this -- CircleCI not a priority.

[2019-07-21 21:09] #202 closed

[2019-07-21 21:09] #200 closed

[2019-10-01 18:24] JulianNorton opened #215 "Investigate why the hours are in UTC for East Coast locations"
## What's the current situation?

Times are not correct

![image](https://user-images.githubusercontent.com/2412992/65989103-09403000-e457-11e9-95fe-8b7091fd702e.png)

"Tomorrow" threshold is on UTC time instead of local time

## What do you recommend?

Look into the partial that is breaking up today/tomorrow weather and see if that can be done with local time instead of UTC time.

[2019-10-01 20:10] ivanfrias commented on #215
can I take this?

[2019-10-01 20:17] JulianNorton commented on #215
Please do @ivanfrias ! Let me know if you need any help.

[2019-10-01 20:30] ivanfrias commented on #215
will do, can you assign it to me , please ?

[2019-10-01 21:12] ivanfrias commented on #215
@JulianNorton moment.unix() converts to a local time. I am based on GTM so it seems to be working fine for me. Is there a better way to verify this behavior? I noticed that at the top the position is set to nyc by default. Maybe we should parse the unix timestamp to the selected position

[2019-10-01 21:24] JulianNorton commented on #215
@ivanfrias I've had success testing this before via [Tor](https://www.torproject.org/) or VPN (to change my location).

I've verified it myself now by looking at New York – it says tomorrow is in 2 hours.

![image](https://user-images.githubusercontent.com/2412992/66001671-eff7ad80-e46f-11e9-9169-b8dc894b9a78.png)

I'm not sure where moment.unix() gets it's local time – it's worth looking at the p

[2019-10-01 21:53] ivanfrias commented on #215
@JulianNorton OK, I am connected via VPN to  US server.

Still, the position doesn't seem to change:

![Captura de ecrã 2019-10-01, às 22 52 06](https://user-images.githubusercontent.com/4195447/66003513-35cb6a80-e49e-11e9-95f8-18a50c077229.png)

Is there any additional setup I need to do ?

Thx!

[2019-10-01 21:58] JulianNorton commented on #215
Apologies for the trouble but I can reverify tomorrow in the AM in a local setup. It’s driving me crazy so I very much appreciated you reaching out to help. If you have any ideas let me know!

[2019-10-02 13:38] JulianNorton commented on #215
Hi @ivanfrias
I'm having a hard time replicating this because it's too early! Once it's closer to midnight UTC I'll post another screenshot.

![Screen Shot 2019-10-02 at 9 38 07 AM](https://user-images.githubusercontent.com/2412992/66048922-6e982d80-e4f8-11e9-8530-d0acc809474d.png)

[2019-10-02 16:13] JulianNorton commented on #215
Okay so on localhost it seems like the time is fine! I wonder if this has to do with the server time. Any advice @ivanfrias?

[2019-10-02 21:27] ivanfrias commented on #215
Hey @JulianNorton, it could be. If the google lib fails to get the right timezone of the inbound IP, then undefined is set as the default timezone of moment. If the server is in UTC, then all remaining date/calculations will be based on that.

If there was no 'Change Position' feature we could parse the date on the client side which would use the browser timezone. Locally, the request to get the t

[2019-10-02 21:32] ivanfrias commented on #215
Interesting: I found that the key is actually commented. Any reason for that ?

[code]

[2019-10-03 00:03] JulianNorton commented on #215
https://github.com/JulianNorton/weather-10kb-wxkb/commit/7a45fe780f44785ce9090139232652a20358bc64 I'm not quite sure why, but in that commit I was removing things like 8pm or 4pm so it would say `x` hours from now. I can try uncommenting that out locally tomorrow and see what it does!

[2019-10-03 10:29] ivanfrias commented on #209
@JulianNorton @modelm If you want I can take this.I can try to normalize all the the strings that come from momentjs

Let me know your thoughts.

[2019-10-03 13:01] JulianNorton commented on #209
Please do Ivan!

[2019-10-04 13:41] JulianNorton commented on #215
When I uncomment that line I get the following error:

I believe that's why it's commented out

Julian

[2019-10-04 13:41] JulianNorton commented on #215
![Screen Shot 2019-10-04 at 9 40 15 AM](https://user-images.githubusercontent.com/2412992/66212000-1c3b4600-e68b-11e9-88c7-513f322d7c8b.png)

[2019-10-23 18:16] ivanfrias commented on #215
hey @JulianNorton, this is an SSL error coming from the google-timezone-api which flags the 'key' as optional but it is not, at least not today, it may have been optional before. Passing a google key doesn't help, as the response is denied on the back-end.

I'll try troubleshooting the lib tonight.

[2019-11-12 22:07] JulianNorton opened #216 "Make default location correctly KNYC"
## What's the current situation?
The weather is being returned for "Hoboken, NJ"

## What do you recommend?
The weather should return from the weather station `KNYC`, 10025, which is New York.

[2019-11-12 22:07] #216 closed

[2020-11-30 07:06] saxobroko opened #218 "HTTPS not working"
## What's the current situation?
Browser won't let any user access the website to it not having https. This is due to having HSTS enabled.

## What do you recommend?
Using cloudflare or something to setup a certificate

[2020-11-30 14:04] JulianNorton commented on #218
@saxobroko thanks for letting me know! I took down the site because I didn't think anyone used it or cared. If you want to help me this weekend get it set up on a fresh server I have – we can do that!